<link href="/themes/agentstream/_css/showcase.css" rel="stylesheet">
<% content_for(:page_title, 'Travel Market Showcase') -%>
<h2 class="page_title">Travel Market Showcase</h2>
 <div id="list">
  <div id="list_text"><%=@showcase_text.text%></div>
   <div id="travelexpo_marketing_message"><%= showcase_marketing_image_tag(@random_marketing_message) -%></div>
    <div class="categories">
     <ul id="expo_categories">
        <% @sponsor_accounts.each do |account| -%>
          <% next unless account.showcase_category_image %>
          <div class="travelexpo_category">
          <%=content_tag('li',link_to(image_tag(account.showcase_category_image.public_filename(), :alt => account.name, :width => 180, :height => 236),:controller => 'showcase', :action => "category_level_details", :id => account))%>
          </div>
        <%end%>
      </ul>
    </div>
</div>
