.rvmrc
.DS_Store
.rspec
log/*.*
tmp/*.*
config/panda.yml
config/facebook.yml
public/attachments
public/javascripts/admin_packaged.js
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
