.rvmrc
.DS_Store
.rspec
/log/*
/tmp/*
/spec/tmp/*
config/database.yml
config/panda.yml
config/facebook.yml
public/attachments
public/javascripts/admin_packaged.js
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
