/* line 1, ../../../../app/stylesheets/themes/agentstream/button.scss */
div.action_buttons {
  float: right;
  margin-top: 20px;
  width: 15%;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/button.scss */
div.action_buttons .button, div.action_buttons a.button {
  display: block;
  width: 100px;
}

/* line 12, ../../../../app/stylesheets/themes/agentstream/button.scss */
.button, a.button {
  margin: 0 2px 5px 0;
  background: #4A6970;
  border: 0;
  padding: 2px 0px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 24, ../../../../app/stylesheets/themes/agentstream/button.scss */
.button.little, a.button.little {
  font-size: 0.8em;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/button.scss */
.button.light, a.button.light {
  background: #90b4bc;
}
