/* Lighter Blue */
/*$tertiary: #EFF8FA;*/
/*body{font:14px/1.6 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;color: #4A6970;}a:focus{outline:1px dotted invert}hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}*/
/*$font-size: 12px;
$line-height: 18px;*/
/* line 11, ../../../../app/stylesheets/themes/agentstream/text.scss */
body {
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  color: #676767;
}

/* line 17, ../../../../app/stylesheets/themes/agentstream/text.scss */
a:focus {
  outline: 1px dotted invert;
}

/* line 20, ../../../../app/stylesheets/themes/agentstream/text.scss */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/text.scss */
h1 {
  font-size: 25px;
}

/* line 30, ../../../../app/stylesheets/themes/agentstream/text.scss */
h2 {
  font-size: 23px;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/text.scss */
h3 {
  font-size: 21px;
}

/* line 36, ../../../../app/stylesheets/themes/agentstream/text.scss */
h4 {
  font-size: 19px;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/text.scss */
h5 {
  font-size: 17px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/text.scss */
h6 {
  font-size: 15px;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/text.scss */
ol {
  list-style: decimal;
}

/* line 48, ../../../../app/stylesheets/themes/agentstream/text.scss */
ul {
  list-style: square;
}

/* line 51, ../../../../app/stylesheets/themes/agentstream/text.scss */
li {
  margin-left: 30px;
}

/* line 54, ../../../../app/stylesheets/themes/agentstream/text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 58, ../../../../app/stylesheets/themes/agentstream/text.scss */
div#deals-header {
  padding: 0px 5px;
}
/* line 60, ../../../../app/stylesheets/themes/agentstream/text.scss */
div#deals-header h2, div#deals-header p {
  margin-bottom: 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 9, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#page #welcome-page {
  width: 840px;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#header, #main, .alert, #footer, .primary, .aside, #logo, .global_nav, .utility, .stats {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 16, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#header, #main, .alert, #footer {
  width: 960px;
}

/* line 18, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#logo {
  width: 160px;
  margin-left: 0;
}

/* line 19, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.global_nav {
  width: 460px;
}

/* line 20, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.utility {
  width: 320px;
}

/* line 22, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.stats {
  width: 720px;
  margin-right: 0;
}
/* line 24, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.stats h4 {
  float: right;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#login-main {
  width: 480px;
  padding-left: 240px;
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#register-main {
  width: 720px;
  padding-left: 120px;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#login-agentstream-facebook-main {
  width: 360px;
  padding-left: 300px;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.primary {
  width: 560px;
  margin-left: 0;
}

/* line 34, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.aside {
  margin-top: 30px;
  width: 400px;
  margin-right: 0;
}

/* line 35, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.aside .module {
  margin-right: 0px;
  margin-left: 5px;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.list .primary {
  width: 720px;
}

/* line 40, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.list .aside {
  width: 240px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .primary {
  width: 720px;
  clear: both;
  margin-left: 0;
}

/* line 43, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .aside {
  width: 240px;
  margin-right: 0;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .full_length {
  width: 960px;
  clear: both;
}

/* Group Actions */
/* line 6, ../../../../app/stylesheets/themes/agentstream/group.scss */
.group_actions {
  text-align: left;
}

/* line 9, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.group_actions li {
  display: inline;
  margin: 0 20px 0 0px;
}

/* line 13, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.group_actions li a {
  text-decoration: underline;
}

/* line 16, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.group_actions li a.button {
  border: 1px solid white;
  display: block;
  text-decoration: none;
  width: 100px;
}

/* line 22, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.group_actions li a.button:hover {
  border: 1px solid #cccccc;
}

/* line 25, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_action_list.group_actions {
  float: right;
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.group_actions.full_screen {
  float: right;
}

/* Sponsored Group (Booth) Actions */
/* line 34, ../../../../app/stylesheets/themes/agentstream/group.scss */
.sponsor_group_actions {
  text-align: left;
}

/* line 37, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.sponsor_group_actions li {
  display: inline;
  margin: 0 20px 0 0px;
}

/* line 41, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.sponsor_group_actions li a {
  text-decoration: underline;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_action_list.group_actions {
  float: left;
}

/* Sponsored group hub */
/* line 52, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_card_sponsored {
  position: absolute;
  width: 655px;
  height: 220px;
  border: 1px solid silver;
  margin-left: 10px;
  margin-bottom: 15px;
  float: left;
}

/* line 62, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_card_sponsored img {
  float: left;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 10px;
}

/* line 70, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_card_sponsored .sponsored_group_details h2 {
  margin-top: 15px;
  margin-bottom: 0;
}

/* line 75, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_card_sponsored .sponsored_group_details h6 {
  margin-top: 5px;
  margin-bottom: 0;
}

/* line 80, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsored_group_announcement {
  border: 1px solid #c4d7dc;
  border-radius: 15px;
  background-color: #FBFFDD;
  width: 655px;
  height: 30px;
  margin-left: 10px;
  float: left;
  margin-top: 240px;
  position: relative;
  display: table;
  overflow: hidden;
  margin-bottom: 15px;
}

/* line 97, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_announcement #announcement_text {
  position: absolute;
  top: 40%;
  height: 30%;
  margin-left: 2%;
  width: 20%;
  display: table-row;
}

/* line 106, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_announcement #announcement_details {
  float: right;
  margin-left: 150px;
  height: 100%;
  width: 480px;
  margin-right: 3%;
  font-size: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}

/* line 118, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_info {
  margin-right: 10px;
  border: 1px solid #c4d7dc;
  width: 270px;
  position: relative;
  float: right;
  top: 0;
  right: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

/* line 131, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_info #follow {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 300px;
  width: 250px;
  border: 1px solid blue;
}

/* line 140, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_info #booth_tags {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 200px;
  border: 1px solid blue;
}

/* line 150, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_info #booth_useful_links {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 250px;
  min-height: 150px;
  border: 1px solid blue;
  margin-bottom: 10px;
}

/* line 163, ../../../../app/stylesheets/themes/agentstream/group.scss */
.sponsored_group_events {
  border: 1px solid #c4d7dc;
  float: left;
  width: 300px;
}

/* line 169, ../../../../app/stylesheets/themes/agentstream/group.scss */
.group_video {
  float: right;
  width: 320px;
  border: 1px solid violet;
  height: 200px;
}

/* line 176, ../../../../app/stylesheets/themes/agentstream/group.scss */
.group_marketing_message {
  float: right;
  width: 320px;
  border: 1px solid magenta;
  height: 150px;
  margin-top: 10px;
}

/* line 184, ../../../../app/stylesheets/themes/agentstream/group.scss */
.vb {
  font-size: 1.0em;
}

/* line 185, ../../../../app/stylesheets/themes/agentstream/group.scss */
.b {
  font-size: 1.2em;
}

/* line 186, ../../../../app/stylesheets/themes/agentstream/group.scss */
.m {
  font-size: 1.4em;
}

/* line 187, ../../../../app/stylesheets/themes/agentstream/group.scss */
.s {
  font-size: 1.6em;
}

/* line 190, ../../../../app/stylesheets/themes/agentstream/group.scss */
table #booth_marketing {
  width: 90%;
}

/* line 194, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_marketing th {
  height: 50px;
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 50px;
  font-size: 1em;
}

/* line 204, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_marketing td {
  height: 50px;
  width: 110px;
  align: center;
  padding-left: 30px;
}

/* line 211, ../../../../app/stylesheets/themes/agentstream/group.scss */
table #booth_links {
  width: 90%;
}

/* line 215, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_links th {
  height: 50px;
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 50px;
  font-size: 1em;
}

/* line 225, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_links td {
  height: 50px;
  width: 110px;
  align: center;
  padding-left: 30px;
}

/* line 232, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_useful_links {
  text-align: center;
}

/* line 236, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_useful_links h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 241, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_useful_links .click_me {
  font-size: 1.2em;
  horizontal-align: center;
  margin-bottom: 10px;
}

/* Group Hub */
/* line 248, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_hub #notes {
  display: none;
}

/* line 251, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_hub .group_card .photo_wrapper {
  float: left;
}

/* line 254, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_hub .group_card .details {
  margin-left: 190px;
}

/* line 257, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_hub .group_card .details h3 {
  margin-bottom: 0;
}

/* line 260, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_hub .group_card .details h4 {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 40px;
}

/* Group Widgets */
/* line 268, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_widgets, #chat_attendees {
  margin: 10px 20px;
}
/* line 270, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_widgets a.right, #chat_attendees a.right {
  float: right;
}

/* line 274, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_widgets h3, #chat_attendees h3 {
  margin-bottom: 2px;
}

/* line 277, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_widgets #group_drive_bys .content .photo_wrapper, #chat_attendees div.photo_wrapper {
  float: left;
  margin: 0 3px 3px 0;
}

/* Group Stream */
/* line 283, ../../../../app/stylesheets/themes/agentstream/group.scss */
#stream.group h5 {
  margin-bottom: 0;
}

/* line 286, ../../../../app/stylesheets/themes/agentstream/group.scss */
#stream.group .events .evemt {
  clear: both;
  margin-top: 10px 0 40px 0;
}

/* line 290, ../../../../app/stylesheets/themes/agentstream/group.scss */
#stream.group .events .event .photo_wrapper {
  float: left;
  margin: 0 3px;
}

/* line 294, ../../../../app/stylesheets/themes/agentstream/group.scss */
#stream.group .events .event .detail {
  margin: 10px 0 20px 30px;
}

/* line 297, ../../../../app/stylesheets/themes/agentstream/group.scss */
#stream.group .events .event .detail .did, #stream.group .events .event .detail .what, #stream.group .events .event .detail .detail {
  display: block;
  margin: 0;
}

/* Group Members */
/* line 303, ../../../../app/stylesheets/themes/agentstream/group.scss */
.group_members:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 305, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card {
  position: relative;
  clear: right;
  float: left;
  display: block;
  margin-right: 18px;
  margin-bottom: 18px;
  background: #fff;
  border: 1px solid black;
  padding: 10px;
  width: 370px;
  _height: 190px;
  min-height: 190px;
  zoom: 1;
  overflow: hidden;
}

/* line 306, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card {
  position: relative;
  clear: right;
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid black;
  padding: 10px;
  width: 350px;
  _height: 140px;
  min-height: 140px;
  zoom: 1;
  overflow: hidden;
}

/* line 309, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card ul.group_member_card_actions {
  float: right;
  _display: inline;
  margin: 0 4px;
  list-style: none;
}

/* line 310, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card ul.sponsor_group_member_card_actions {
  float: right;
  _display: inline;
  margin: 0 4px;
  list-style: none;
}

/* line 312, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card div.member_photo_and_meta {
  clear: right;
  float: left;
  margin-right: 15px;
  width: 100px;
}

/* line 313, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card div.sponsor_member_photo_and_meta {
  clear: right;
  float: left;
  margin-right: 20px;
  padding-right: 5px;
  width: 70px;
}

/* line 315, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card div.photo_wrapper {
  margin-bottom: 5px;
  zoom: 1;
}

/* line 316, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card div.photo_wrapper {
  margin-bottom: 5px;
  zoom: 1;
}

/* line 318, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card div.photo_wrapper img.photo {
  display: block;
}

/* line 319, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card div.photo_wrapper img.photo {
  display: block;
}

/* line 321, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.meta {
  margin: 0;
  text-align: center;
}

/* line 322, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_meta {
  text-align: center;
}

/* line 324, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl dt {
  font-weight: bold;
}

/* line 325, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl dt {
  font-weight: bold;
}

/* line 327, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl dd {
  margin: 0 0 5px 0;
}

/* line 328, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl dd {
  margin: 0 0 5px 0;
  font-size: .95em;
}

/* line 330, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl dd.owner {
  margin-top: 5px;
  padding-top: 35px;
  background: url(/images/icon_group_owner.png) no-repeat center top;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 331, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl dd.owner {
  margin-top: 5px;
  padding-top: 35px;
  background: url(/images/icon_group_owner.png) no-repeat center top;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 334, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl dd.moderator {
  margin-top: 5px;
  padding-top: 50px;
  background: url(/images/icon_group_moderator.png) no-repeat center top;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 335, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl dd.moderator {
  margin-top: 5px;
  padding-top: 50px;
  background: url(/images/icon_group_moderator.png) no-repeat center top;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 338, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info {
  float: left;
  margin: 0;
  width: 255px;
}

/* line 339, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info {
  float: left;
  margin: 0;
  width: 255px;
}

/* line 341, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dt {
  font-weight: bold;
}

/* line 342, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dt {
  font-weight: bold;
}

/* line 344, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dt.name {
  font-size: 16px;
}

/* line 345, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dt.name {
  font-size: 16px;
}

/* line 347, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd {
  margin: 0;
}

/* line 348, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.member_info dd {
  margin: 0;
}

/* line 350, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd.title {
  margin-top: 3px;
  color: #111;
}

/* line 351, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dd.title {
  margin-top: 3px;
  color: #111;
}

/* line 353, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd.tagline {
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

/* line 354, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dd.tagline {
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

/* line 356, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd.contact_info dl {
  margin: 0;
  zoom: 1;
}

/* line 357, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dd.contact_info dl {
  margin: 0;
  zoom: 1;
}

/* line 359, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd.contact_info dl dt {
  clear: left;
  float: left;
  margin: 0;
  margin-right: 5px;
}

/* line 360, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dd.contact_info dl dt {
  clear: left;
  float: left;
  margin: 0;
  margin-right: 5px;
}

/* line 362, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_card dl.member_info dd.contact_info dl dd {
  float: left;
  margin: 0;
}

/* line 363, ../../../../app/stylesheets/themes/agentstream/group.scss */
#sponsor_member_card dl.sponsor_member_info dd.contact_info dl dd {
  float: left;
  margin: 0;
}

/* line 366, ../../../../app/stylesheets/themes/agentstream/group.scss */
#members_images_wrapper {
  float: left;
  width: 484px;
}

/* line 371, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_members_images_wrapper {
  width: 250px;
}

/* line 376, ../../../../app/stylesheets/themes/agentstream/group.scss */
#members_images {
  position: relative;
  margin: 0;
  width: 484px;
  overflow: hidden;
}

/* line 377, ../../../../app/stylesheets/themes/agentstream/group.scss */
#booth_members_images {
  position: relative;
  margin-left: 30px;
  width: 200px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 379, ../../../../app/stylesheets/themes/agentstream/group.scss */
table#members {
  font-size: 0;
}

/* line 383, ../../../../app/stylesheets/themes/agentstream/group.scss */
table#members tbody tr td div.photo_wrapper {
  margin: 0 3px 3px 0;
}

/* line 384, ../../../../app/stylesheets/themes/agentstream/group.scss */
table#members tbody tr td.last div.photo_wrapper {
  margin-right: 0;
}

/* line 386, ../../../../app/stylesheets/themes/agentstream/group.scss */
table#booth_members tbody tr td div.photo_wrapper {
  margin: 0 3px 3px 0;
}

/* line 387, ../../../../app/stylesheets/themes/agentstream/group.scss */
table#booth_members tbody tr td.last div.photo_wrapper {
  margin-right: 0;
}

/* line 389, ../../../../app/stylesheets/themes/agentstream/group.scss */
#member_scrollers {
  width: 384px;
}

/* line 390, ../../../../app/stylesheets/themes/agentstream/group.scss */
#left_scroll {
  float: left;
}

/* line 391, ../../../../app/stylesheets/themes/agentstream/group.scss */
#right_scroll {
  float: right;
}

/* line 393, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.group_owner {
  clear: both;
  float: left;
  margin: 0;
  width: 350px;
}

/* line 394, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_owner {
  clear: both;
  float: left;
  margin: 0;
  width: 350px;
}

/* line 396, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.group_owner dt {
  float: left;
  padding: 4px 0 0 32px;
  background: url(/images/icon_group_owner_sm.png) no-repeat left center;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 397, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_owner dt {
  float: left;
  padding: 4px 0 0 32px;
  background: url(/images/icon_group_owner_sm.png) no-repeat left center;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 399, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.group_owner dd {
  float: left;
  margin: 0 0 0 5px;
  padding: 4px 0 0;
}

/* line 400, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_owner dd {
  float: left;
  margin: 0 0 0 5px;
  padding: 4px 0 0;
}

/* line 402, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.moderators {
  clear: left;
  float: left;
  margin: 8px 0 0;
  width: 350px;
}

/* line 403, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_moderators {
  clear: left;
  float: left;
  margin: 8px 0 0;
  width: 350px;
}

/* line 405, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.moderators dt {
  float: left;
  padding: 5px 0 5px 32px;
  background: url(/images/icon_group_moderator_sm.png) no-repeat left center;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 406, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_moderators dt {
  float: left;
  padding: 5px 0 5px 32px;
  background: url(/images/icon_group_moderator_sm.png) no-repeat left center;
  font-weight: bold;
  color: #d2931f;
  text-transform: uppercase;
}

/* line 408, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.moderators dd {
  float: left;
  margin: 0 0 0 5px;
  padding: 4px 0 0;
}

/* line 409, ../../../../app/stylesheets/themes/agentstream/group.scss */
dl.sponsor_group_moderators dd {
  float: left;
  margin: 0 0 0 5px;
  padding: 4px 0 0;
}

/* line 411, ../../../../app/stylesheets/themes/agentstream/group.scss */
#invitation_requests {
  clear: left;
  padding-top: 25px;
}

/* line 413, ../../../../app/stylesheets/themes/agentstream/group.scss */
#invitation_requests div.profile_results dl.profile_info {
  width: 200px;
}

/* line 414, ../../../../app/stylesheets/themes/agentstream/group.scss */
#invitation_requests div.profile_results dd.invite_requested_on {
  margin-top: 13px;
  color: #444;
  font-weight: bold;
}

/* line 415, ../../../../app/stylesheets/themes/agentstream/group.scss */
#invitation_requests div.action_buttons {
  margin: 13px 13px 0 0;
}

/* Photo Gallery */
/* line 418, ../../../../app/stylesheets/themes/agentstream/group.scss */
h3.gallery a.title_action_link {
  display: block;
  float: right;
  font-size: 0.9em;
}

/* line 423, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.thumbnails {
  list-style: none;
  margin: 5px 0;
}

/* line 427, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.thumbnails li {
  float: left;
  margin: 2px;
}

/* line 431, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.thumbnails li a img {
  border: 1px solid #c4d7dc;
}

/* line 434, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul.thumbnails:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 436, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul li.no_bullet {
  list-style: none;
}

/* line 439, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul#topic_list {
  list-style: none;
}

/* line 443, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul#topic_list li.topic {
  position: relative;
  width: 360px;
}
/* line 447, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul#topic_list li.topic span.h5 {
  width: 180px;
  margin-left: 0;
}
/* line 451, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul#topic_list li.topic span.topic_buttons {
  display: block;
  padding-left: 420px;
  width: 120px;
  margin-right: 0;
}

/* line 457, ../../../../app/stylesheets/themes/agentstream/group.scss */
ul#topic_buttons {
  /*  margin-bottom: 5px;*/
}

/* line 461, ../../../../app/stylesheets/themes/agentstream/group.scss */
span.topic_buttons {
  position: absolute;
  top: 6%;
}
/* line 462, ../../../../app/stylesheets/themes/agentstream/group.scss */
span.topic_buttons a {
  margin-left: 20px;
  padding: 1px 5px;
}

/* line 470, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details {
  float: left;
  width: 500px;
}

/* line 474, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details .gallery_photo_full {
  background: #fff;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 10px 10px 5px;
  text-align: center;
}

/* line 481, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details p {
  margin-bottom: 0;
}

/* line 485, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details .gallery_photo_rate {
  float: right;
  margin-top: -20px;
  margin-right: 10px;
}

/* line 490, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details dl {
  margin-top: 10px;
}

/* line 493, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details dl dt {
  float: left;
  margin-right: 5px;
}

/* line 497, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details ul.action_list {
  list-style: none;
}

/* line 500, ../../../../app/stylesheets/themes/agentstream/group.scss */
.photo_details ul.action_list li {
  display: inline;
  margin-left: 0;
  margin-right: 20px;
}

/* line 506, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .current {
  border: 1px solid #990000;
}

/* line 507, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .thumbnail_link {
  float: left;
}

/* line 508, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details img {
  margin-right: 8px;
  border: 1px solid #bbbbbb;
}

/* line 509, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .at_last_photo {
  display: block;
  margin-top: 40px;
  margin-left: 9px;
  float: left;
  width: 90px;
  text-align: center;
  color: #666;
}

/* line 510, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .at_first_photo {
  display: block;
  margin-top: 40px;
  margin-right: 9px;
  float: left;
  width: 90px;
  text-align: center;
  color: #666;
}

/* line 512, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details {
  margin-left: 510px;
  width: 300px;
  overflow: hidden;
}

/* line 513, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments {
  clear: both;
  padding-top: 4px;
}

/* line 514, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments img {
  border: 0;
}

/* line 515, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details textarea#comment_text {
  width: 290px;
  height: 60px;
}

/* line 516, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details div.buttons {
  clear: both;
  margin-top: 14px;
  text-align: center;
}

/* line 519, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments div.comment_item div.details {
  margin-left: 0;
  width: 225px;
}

/* line 520, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments div.comment_item div.details h5 {
  margin: 3px 0 3px;
}

/* line 521, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments div.comment_item div.details p.meta {
  margin-bottom: 1.2em;
  font-size: 11px;
  color: #555;
}

/* line 522, ../../../../app/stylesheets/themes/agentstream/group.scss */
.secondary_photo_details .comments div.comment_item div.details p.text {
  margin-bottom: 3px;
  color: #333;
  font-size: 12px;
  line-height: 1.4em;
  text-align: justify;
}

/* group talk */
/* line 525, ../../../../app/stylesheets/themes/agentstream/group.scss */
form#new_group_post {
  position: relative;
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid;
  padding: 12px 16px 0;
  width: 227px;
}

/* line 526, ../../../../app/stylesheets/themes/agentstream/group.scss */
form#new_group_post h2 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* line 527, ../../../../app/stylesheets/themes/agentstream/group.scss */
form#new_group_post textarea {
  width: 223px;
  height: 100px;
}

/* line 528, ../../../../app/stylesheets/themes/agentstream/group.scss */
form#new_group_post div.buttons {
  margin: 20px 0;
  text-align: center;
}

/* line 529, ../../../../app/stylesheets/themes/agentstream/group.scss */
form#new_group_post p.meta {
  text-align: center;
  color: #333;
  font-size: 11px;
}

/* line 531, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts {
  width: 500px;
  margin-left: 140px;
  float: left;
}

/* line 532, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 533, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item {
  padding-bottom: 2px;
}

/* line 534, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.photo_wrapper {
  float: left;
}

/* line 535, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.details {
  margin-left: 65px;
  width: 400px;
}

/* line 536, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.details h5 {
  margin-bottom: 0;
}

/* line 538, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.details div.item_text {
  margin-top: -3px;
}

/* line 539, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.details div.asked_by {
  margin-top: 3px;
  color: #333;
}

/* line 540, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.details ul.action_list {
  margin: 4px 0 5px -2px;
  color: #333;
  list-style: none;
}

/* line 541, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.details ul.action_list li {
  display: inline;
  margin: 0 10px 0 0px;
}

/* line 543, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies {
  clear: both;
  margin-left: 65px;
  padding-top: 18px;
  width: 400px;
}

/* line 544, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies div.comment_item {
  margin-bottom: 10px;
}

/*#group_posts div.group_post_item div.replies div.odd { background: #f0f0f0; }*/
/* line 546, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies div.even {
  border-top: 1px solid #4a6970;
  padding-top: 14px;
}

/* line 547, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies h4 {
  margin-bottom: 12px;
  font-size: 13px;
}

/* line 548, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies div.comment_item div.details {
  width: 300px;
}

/* line 549, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form {
  margin-bottom: 18px;
  padding: 0px;
}

/* line 550, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form h5 {
  margin: 0 0 8px;
  font-size: 12px;
}

/* line 551, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form p.error {
  font-weight: bold;
  color: #f00;
}

/* line 552, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form fieldset {
  margin-bottom: 0;
}

/* line 553, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form fieldset label {
  display: block;
  font-weight: bold;
}

/* line 554, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form fieldset textarea {
  width: 355px;
  height: 100px;
}

/* line 556, ../../../../app/stylesheets/themes/agentstream/group.scss */
#group_posts div.group_post_item div.replies form div.buttons input.button {
  display: inline;
  margin-right: 10px;
}
