/*	news feed */
/* line 2, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds {
  background: #fff;
  margin: 0 0 10px;
}

/* line 3, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds .tabs-panel {
  padding: 10px 0;
}

/* line 4, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item {
  position: relative;
  height: 80px;
  clear: both;
  margin: 20px 0 0;
  color: #4a6970;
  padding: 10px;
}

/* line 5, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .question {
  background: #e1ecee;
}

/* line 6, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item .photo_wrapper {
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

/* line 8, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item .details {
  display: block;
  float: left;
  width: 450px;
}

/* line 9, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item .details h3 {
  margin: 0 6px 0 0;
  display: inline;
  font-weight: bold;
}

/* line 10, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item .details h3.what {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

/* line 11, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item .details h3.what span {
  font-size: 14px;
  font-weight: bold;
}

/* line 12, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#news_feed .news_item h3 a {
  color: #4a6970;
  font-size: 12px;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask {
  clear: both;
  margin: 15px 0 0;
  color: #4a6970;
  padding: 0 10px;
}

/* line 15, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask .photo_wrapper {
  display: block;
  float: left;
  margin: 1px 0 0 0;
}

/* line 16, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 17, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask textarea {
  height: 60px;
  width: 415px;
  padding: 10px;
  border: 1px solid #90b4bc;
  border-width: 1px 1px 1px 0;
  font-size: 12px;
  line-height: 1.2em !important;
  color: #4a6970;
}

/* line 18, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask img {
  border: 1px solid #90b4bc;
  border-width: 1px 0 1px 1px;
}

/* line 19, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask .button {
  float: right;
  margin: 0 2px 0 0;
  background: #90b4bc;
  border: 0;
  padding: 5px 25px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

/* feeds */
/* STOLEN FROM news feed...made to be generic */
/* line 23, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds {
  background: #fff;
  margin: 0 0 10px;
}

/* line 24, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds .tabs-panel {
  padding: 10px 0;
}

/* line 25, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item {
  clear: both;
  margin: 20px 0 0;
  color: #4a6970;
  padding: 10px;
}

/* line 26, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .question {
  background: #e1ecee;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item .photo_wrapper {
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item .details {
  display: block;
  float: left;
  width: 420px;
}

/* line 30, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item .details h3 {
  margin: 0 10px 0 0;
  display: inline;
  font-weight: bold;
}

/* line 31, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item .details p.when {
  font-size: 10px;
  color: #666;
  text-align: right;
  padding-top: 10px;
  display: block;
}

/* line 38, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tabs-panel .news_item h3 a {
  color: #4a6970;
}

/*groups*/
/* line 42, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups {
  position: relative;
  background: #fff;
}

/* line 43, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.group_item {
  clear: both;
}

/* line 44, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.group_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .group_item .photo_wrapper {
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

/* line 46, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#hub #groups .details {
  display: block;
  float: left;
  width: 410px;
}

/* line 47, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .group_item .details h3 {
  margin-bottom: 0px;
}

/* line 48, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .group_item .details h3 small {
  font-size: 0.8em;
}

/*      #groups h3 a { color: #6f563b; }*/
/* line 50, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups h3 .info {
  color: #987d72;
}

/* line 52, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups h2 {
  float: left;
}

/* line 53, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .nav {
  display: block;
  float: right;
  margin: 0 0;
  font-size: 16px;
  text-transform: lowercase;
}

/* line 54, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 55, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .nav li {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

/* line 56, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .nav li.active {
  border-bottom: 1px solid #4a6970;
}

/* line 57, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#groups .nav a {
  color: #4a6970;
  font-weight: normal;
}

/* line 59, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#statistics table {
  width: 100%;
}

/* line 60, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#statistics table, #statistics table a {
  color: #4a6970;
}

/* line 63, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question {
  margin: 0 0 10px;
}

/* line 64, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .text {
  margin: 0 0 10px;
}

/* line 65, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .meta a {
  color: #90b4bc;
}

/* line 66, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .meta p {
  margin: 0;
}

/* line 67, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .question_actions {
  margin: 15px 0 0 0;
}

/* line 68, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .question_actions li {
  margin-right: 15px;
  padding: 5px 0 2px 0;
  text-transform: capitalize;
}

/* line 73, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.question .question_actions a {
  background: none;
  color: #676767;
  font-size: 1.2em;
}

/* deals */
/* line 81, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .deal_image {
  float: left;
}
/* line 84, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .details {
  margin-left: 60px;
}
/* line 87, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .list_item {
  padding-top: 5px;
  /*      border-bottom: 1px solid #CECECE;*/
}
/* line 91, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .list_item h3 {
  margin-bottom: 0px;
}
/* line 96, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .list_item.even {
  /*      background-color: #EFF5F5;*/
}
/* line 99, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#deals.module .list_item.odd {
  /*      background-color: #E9F3F2;*/
}

/* line 105, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#promotions {
  padding: 0;
  height: 150px;
  position: relative;
}

/* line 106, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#promotions h2 {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2;
  color: #fff;
  text-shadow: #999 0 -1px 0;
}

/* line 107, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.promo_image {
  position: absolute;
}

/* line 109, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#ask span.counter {
  /*color: #990000;*/
  display: block !important;
  float: left;
  margin: 0 0 0 -80px;
}

/* line 115, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#ask .actions {
  margin-top: 1px;
  margin-left: 100px;
}

/* line 120, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#feeds #ask textarea.ask_text_placeholder {
  font-size: 2.2em !important;
  line-height: 1.2em !important;
  font-weight: normal;
  padding: 5px 10px 15px 10px;
  color: #a1a1a1;
}

/* line 128, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#ask .actions input[type=checkbox] {
  float: left;
  height: 18px;
  margin: 0 2px 0 0;
  width: 18px;
}

/* line 135, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#ask .actions .category_prompt {
  float: right;
  margin-right: 20px;
  margin-top: 0;
}

/* line 148, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#following a.filter {
  display: block;
  float: right;
  margin: 3px 5px 0 0;
}

/* line 153, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#following .list {
  margin: 10px;
}

/* line 156, ../../../../app/stylesheets/themes/agentstream/hub.scss */
#following .news_item {
  clear: both;
}

/* line 160, ../../../../app/stylesheets/themes/agentstream/hub.scss */
div.news_item div.details a.new_message.button {
  color: #fff;
}

/* line 164, ../../../../app/stylesheets/themes/agentstream/hub.scss */
ul.hub_question_actions li a {
  color: white !important;
  /*    padding: 0;*/
  /*    text-decoration: underline;*/
}

/*groups*/
/*    #groups { position: relative; background-color: #eff8fa; }
  .group_item { clear: both;}
  .group_item:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    #groups .group_item .photo_wrapper { display: block; float: left; margin: 0 15px 0 0; }
    #hub #groups .details { display: block; float: left; width: 410px;}
      #groups .group_item .details h3 { margin-bottom: 0px; }
      #groups .group_item .details h3 small { font-size: 0.8em; }
/*      #groups h3 a { color: #6f563b; }*/
/*        #groups h3 .info { color: #987d72; }

    #groups h2 { float: left; }
    #groups .nav { display: block; float: right; margin: 0 0; font-size: 16px; text-transform: lowercase; }
      #groups .nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
      #groups .nav li { display: block; float: left; margin: 0 20px 0 0; }
        #groups .nav li.active { border-bottom: 1px solid #4a6970; }
      #groups .nav a { color: #4a6970; font-weight: normal;  }*/
/* line 187, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox {
  margin-left: 100px;
  margin-top: 30px;
}

/* line 192, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup {
  width: 500px !important;
}
/* line 194, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 198, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* line 202, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup div.buttons {
  margin-top: 5px;
}
/* line 205, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup h3 {
  line-height: 15px;
  margin-bottom: 5px;
}
/* line 209, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup h3.tagline {
  margin-bottom: 15px;
}
/* line 212, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup hr {
  margin-left: 5px;
  margin-right: 15px;
}
/* line 216, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup center.none h4 {
  height: 0px;
  margin: 0;
}
/* line 221, ../../../../app/stylesheets/themes/agentstream/hub.scss */
.tac_facebox .popup form .facebox_sign_in_label {
  float: left;
}
