/* line 1, ../../../../app/stylesheets/themes/agentstream/lists.scss */
h2.page_title {
  margin: 10px 0 0 10px;
}

/* line 5, ../../../../app/stylesheets/themes/agentstream/lists.scss */
h3.page_subtitle {
  margin: 0 0 0 10px;
}

/* line 9, ../../../../app/stylesheets/themes/agentstream/lists.scss */
span.h5 {
  font-size: 17px;
  margin: 5px;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/lists.scss */
span.h6 {
  font-size: 15px;
}

/* line 18, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.list_action_button {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 20px;
  /*  a {
      text-decoration: underline;
    } */
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.list .description .content {
  margin: 0 10px 10px;
  padding: 10px 10px 1px;
  background: #eff8fa;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.list .description .photo_wrapper {
  float: left;
  margin: 0 20px 0 0;
}

/* line 31, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.list .description .close2 {
  position: relative;
  float: right;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform p, .listform a, .listform dt, .listform dd {
  display: inline;
  padding: 0 10px;
}

/* line 34, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform dl {
  float: right;
}

/* line 35, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform dd {
  border-right: 1px solid #676767;
}

/* line 36, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform dl dd:last-child {
  border-right: 0;
  padding-right: 0;
}

/* line 38, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform div.categories {
  display: inline;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform div {
  margin: 10px 0;
}

/* line 40, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.listform div strong {
  float: left;
  width: 80px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.tabs-header {
  margin: 0;
  padding: 10px 10px 1px;
  background: #d5eae6;
}

/* Lists */
/* line 45, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list {
  position: relative;
  background-color: #eff8fa;
  border-top: 1px solid #c4d7dc;
  padding: 10px 10px;
}

/* line 47, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.blog_post_p a, div.blog_post_p a:visited, a.answer_link, a.answer_link:visited, div.alert div.content a {
  color: #990000;
  text-decoration: underline;
  font-weight: bold;
}

/* line 53, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question {
  border-bottom: 1px solid #c4d7dc;
  margin-top: 15px;
  padding-top: 15px;
}
/* line 57, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question div.details {
  max-width: 410px;
}
/* line 59, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question div.details div.item_text {
  margin-bottom: 20px;
}
/* line 61, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question div.details div.item_text span, div.question div.details div.item_text a {
  font-size: 0.9em !important;
}
/* line 66, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question ul.action_list {
  margin-top: 10px;
}
/* line 69, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question p {
  margin: 0 !important;
}
/* line 72, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.question p a {
  color: #990000;
  text-decoration: underline;
}

/* line 78, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.blog_post_p a:hover {
  /*    color: #900 ;*/
  text-decoration: underline;
}

/* line 82, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .photo_wrapper {
  float: left;
  margin: 0px 20px 20px 0;
}

/* line 83, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details {
  position: relative;
  display: block;
  float: left;
  width: 575px;
  margin-top: 0px;
}

/* line 84, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details p {
  margin-bottom: 1em;
}

/* line 85, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details p.meta {
  margin-bottom: 0.8em;
  font-size: 11px;
  color: #555;
}

/* line 86, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .action_buttons {
  position: relative;
}

/* Same as H3 */
/* line 91, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details div.item_text, #list .details div.item_text a {
  color: #4A6970;
  font-size: 16px;
  font-weight: normal;
}

/* line 97, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div.list_item:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Content */
/* line 100, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#content {
  position: relative;
  background-color: #eff8fa;
  border-top: 1px solid #c4d7dc;
}

/* line 101, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#content .photo_wrapper {
  float: left;
  margin: 20px;
}

/* line 102, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#content .details {
  display: block;
  float: left;
  width: 575px;
  margin-top: 20px;
}

/* Groups */
/* line 105, ../../../../app/stylesheets/themes/agentstream/lists.scss */
.group_item h3 {
  margin-bottom: 0;
}

/* Questions */
/* line 108, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item .question_text {
  font-size: 16px;
  font-weight: bold;
  color: #4A6970;
}

/* line 114, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item #best_answer_top {
  clear: both;
}
/* line 116, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item #best_answer_top h4 {
  margin-bottom: 0px;
  margin-top: 20px;
}
/* line 120, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item #best_answer_top #best_burst {
  padding-left: 25px;
}
/* line 123, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item #best_answer_top div.bestAnswer img {
  padding-left: 5px;
  margin-top: -10px;
}

/* line 129, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item .details {
  float: left;
  width: 65%;
}

/* line 133, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item div.photo_wrapper img.photo {
  width: 120px;
  height: 120px;
}

/*div#best_answer_top div.photo_wrapper {
  margin-right: 10px;
}*/
/* line 141, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#best_answer_top div.photo_wrapper img.photo {
  width: 120px;
  height: 120px;
}

/* line 146, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.single_item div.action_buttons {
  float: right;
  width: 15%;
}

/* line 150, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.answer div.action_buttons {
  float: right;
  margin-top: 0px;
  width: 15%;
}

/* line 156, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details ul.action_list li, div.single_item .details ul.action_list li {
  display: inline;
  margin-left: 0;
  margin-right: 30px;
}

/* line 161, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .details ul.action_list li a, div.single_item .details ul.action_list li a {
  color: #90b4bc;
  text-decoration: underline;
}

/* line 165, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div.action_buttons a, div.single_item div.action_buttons a {
  display: block;
}

/* line 168, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div.action_buttons a.best {
  display: inline;
  padding-left: 5px;
}

/* line 173, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.bestAnswer img {
  padding-left: 5px;
}

/* line 177, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.vote_wrap a {
  display: inline;
  padding-left: 18px;
}

/* line 182, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.voteRating {
  float: right;
  font-weight: bold;
}
/* line 185, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.voteRating .vote_wrap {
  font-weight: normal;
  text-align: left;
  padding-left: 0px;
  color: #000;
}
/* line 188, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.voteRating .vote_wrap span {
  display: block;
  float: left;
  width: 2.5em;
  padding-left: 12px;
  color: #6c8702;
}
/* line 189, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.voteRating .vote_wrap .no {
  color: #9d2d08;
}
/* line 190, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.voteRating .vote_wrap .selected {
  background: url(/images/helpfulArrow.png) left center no-repeat;
}

/* line 194, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.bestAnswer {
  font-weight: bold;
}

/* line 198, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#answer_form fieldset {
  position: relative;
  clear: both;
  margin-top: 10px;
}

/* line 203, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list #answers .answer {
  clear: both;
}

/* line 208, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div.answer:after, div.single_item:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Blog Posts */
/* line 211, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .blog_post_item .details {
  width: 410px;
}

/* line 214, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .blog_post_item .details h3, #list .blog_post_item .details h3 a {
  margin-bottom: 0;
  font-weight: bold;
}

/* line 218, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .blog_post_item .details .summary {
  margin-bottom: 10px;
}

/* line 221, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .blog_post_item .details ul.action_list {
  margin-top: 5px;
}

/* line 224, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .blog_post_item .details ul.action_list li span.tags {
  display: block;
}

/* line 227, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#blog_meta h4 {
  margin-bottom: 0;
}

/* line 230, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#blog_meta h4:first-child {
  margin-bottom: 1em;
}

/* line 233, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#blog_meta h4 a:hover {
  text-decoration: underline;
}

/* Ratings */
/* line 238, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div.rate {
  position: relative;
  float: right;
  margin-top: 14px;
}

/* Comments */
/* line 245, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div#comments {
  clear: both;
}

/* line 248, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list div#comments:before {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Status */
/* line 251, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#list .status_results .list_item {
  clear: both;
}

/* line 255, ../../../../app/stylesheets/themes/agentstream/lists.scss */
#filter_options .selected {
  font-size: 1.2em;
  font-weight: bold;
}

/* Admin  */
/* line 262, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#admin_header #title {
  float: left;
}
/* line 263, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#admin_header #action_buttons {
  float: right;
}

/* line 265, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#admin {
  clear: both;
}
/* line 267, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#admin form#company_form {
  margin: 20px;
  font-size: 1.2em;
}
/* line 270, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div#admin form#company_form input[type="text"], div#admin form#company_form textarea, div#admin form#company_form label {
  font-size: 1.2em;
  margin-bottom: 20px;
  width: 300px;
}

/* line 275, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview {
  display: block;
  width: 500px;
  padding-right: 30px;
}
/* line 279, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview .photo_wrapper {
  display: block;
  float: left;
  margin: 0 15px 0 0;
}
/* line 280, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview h3 {
  margin: 0 6px 0 0;
  display: inline;
  font-weight: bold;
}
/* line 281, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview h3 a {
  color: #4a6970;
}
/* line 282, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview p {
  display: inline;
}
/* line 283, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview p.what {
  font-size: 14px;
}
/* line 284, ../../../../app/stylesheets/themes/agentstream/lists.scss */
td#stream_message_preview p.what span {
  font-size: 12px;
}

/* line 287, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#rss_feed {
  width: 800px;
}
/* line 289, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#rss_feed td {
  text-align: center;
  vertical-align: middle;
}
/* line 293, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#rss_feed tr.odd {
  background-color: #FEFFED;
}

/* line 298, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list, table#company_members_list {
  border: 1px solid #4a6970;
  margin: 20px;
  width: 840px;
}
/* line 302, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list tr.header, table#company_members_list tr.header {
  color: #FFF;
  background: #4A6970;
}
/* line 306, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list th, table#company_members_list th {
  padding-left: 5px;
  text-align: left;
}
/* line 311, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list tr.company .button, table#companies_list tr.member .button, table#company_members_list tr.company .button, table#company_members_list tr.member .button {
  float: right;
  margin: 10px 10px 0 0;
}
/* line 316, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list tr.company td, table#companies_list tr.member td, table#company_members_list tr.company td, table#company_members_list tr.member td {
  padding-left: 5px;
  text-align: left;
}
/* line 321, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list .even, table#company_members_list .even {
  background: #D8E9E6;
}
/* line 324, ../../../../app/stylesheets/themes/agentstream/lists.scss */
table#companies_list .odd, table#company_members_list .odd {
  background: #90B4BC;
}

/* line 330, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_results .primary {
  margin-left: 10px;
  width: 720px;
  border: 1px solid #c4d7dc;
}

/* line 337, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item {
  margin-left: 10px;
  padding: 10px;
  width: 720px;
  background-color: #EFF8FA;
  border: 1px solid #c4d7dc;
}
/* line 338, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item .photo_wrapper {
  float: left;
}
/* line 341, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item .details {
  margin-left: 70px;
  width: 500px;
}
/* line 350, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item .rate {
  float: right;
}
/* line 353, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item .fb-like {
  float: left;
  margin: 0px 20px 0px 70px;
}
/* line 357, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.news_post_item .share-links {
  display: block;
  margin-bottom: 20px;
}

/* line 364, ../../../../app/stylesheets/themes/agentstream/lists.scss */
div.aside-small {
  width: 195px;
  margin: 0 0 10px 0;
  float: right;
}
