/* line 1, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate {
  padding: 2px;
  width: 125px;
  text-align: right;
}

/* line 2, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 3, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate {
  zoom: 1;
}

/* line 4, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul {
  float: right;
  position: relative;
  margin: 0;
  width: 75px;
  height: 15px;
  background: url(/images/rate_dim.png) 0 0 repeat-x;
  list-style: none;
}

/* line 5, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li {
  float: left;
  width: 15px;
  height: 15px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li a {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 12, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li a:hover,
div.rate ul:hover li a.selected:hover,
div.rate ul.rate_hover li a.selected:hover,
div.rate ul.rate_hover_my_rating li a.selected:hover {
  background: url(/images/rate.png) 0 0 repeat-x;
}

/* line 13, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li a.selected {
  background: url(/images/rate_rated.png) 0 0 repeat-x;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rated {
  background: url(/images/rate_rated.png) 0 0 repeat-x;
}

/* line 17, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul.my_rating li a:hover,
div.rate ul.my_rating li a.selected {
  background: url(/images/rate.png) 0 0 repeat-x;
}

/* line 21, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul:hover li a.selected,
div.rate ul.rate_hover li a.selected,
div.rate ul.rate_hover_my_rating li a.selected {
  background: none;
}

/* line 23, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rated {
  margin: 0;
}

/* line 25, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rating1 a {
  width: 15px;
  z-index: 15;
}

/* line 26, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rating2 a {
  width: 30px;
  z-index: 14;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rating3 a {
  width: 45px;
  z-index: 13;
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rating4 a {
  width: 60px;
  z-index: 12;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate ul li.rating5 a {
  width: 75px;
  z-index: 11;
}

/* line 31, ../../../../app/stylesheets/themes/agentstream/rating.scss */
div.rate p.rating_total {
  clear: both;
  margin-right: 1px;
  padding-top: 2px;
  font-size: 1em;
  text-align: right;
}
