.seal_0 { background-position: 1px 0px; }

.seal_1 { background-position: -60.86px 0px; }

.seal_2 { background-position: -122.72px 0px; }

.seal_3 { background-position: -184.58px 0px; }

.seal_4 { background-position: -246.44px 0px; }

.seal_5 { background-position: -308.3px 0px; }

.seal_6 { background-position: -370.16px 0px; }

.seal_7 { background-position: -432.02px 0px; }

.seal_8 { background-position: -493.88px 0px; }

.seal_9 { background-position: -555.74px 0px; }

.seal_10 { background-position: -617.6px 0px; }

.seal_11 { background-position: -679.46px 0px; }

.seal_12 { background-position: -741.32px 0px; }

.seal_13 { background-position: -803.18px 0px; }

.seal_14 { background-position: -865.04px 0px; }

.seal_15 { background-position: -926.9px 0px; }

.seal_16 { background-position: -988.76px 0px; }

.seal_17 { background-position: -1050.62px 0px; }

.seal_18 { background-position: -1112.48px 0px; }

.seal_19 { background-position: -1174.34px 0px; }

.seal_20 { background-position: -1236.2px 0px; }

.seal_21 { background-position: -1298.06px 0px; }

.seal_22 { background-position: -1359.92px 0px; }

.seal_23 { background-position: -1421.78px 0px; }

.seal_24 { background-position: -1483.64px 0px; }

.seal_25 { background-position: -1545.5px 0px; }

.seal_26 { background-position: -1607.36px 0px; }

.seal_27 { background-position: -1669.22px 0px; }

.seal_28 { background-position: -1731.08px 0px; }

.seal_29 { background-position: -1792.94px 0px; }

.seal_30 { background-position: -1854.8px 0px; }

.seal_31 { background-position: -1916.66px 0px; }

.seal_32 { background-position: -1978.52px 0px; }

.seal_33 { background-position: -2040.38px 0px; }

.seal_34 { background-position: -2102.24px 0px; }

.seal_35 { background-position: -2164.1px 0px; }

.seal_36 { background-position: -2225.96px 0px; }

.seal_37 { background-position: -2287.82px 0px; }

.seal_38 { background-position: -2349.68px 0px; }

.seal_39 { background-position: -2411.54px 0px; }

.seal_40 { background-position: -2473.4px 0px; }

.seal_41 { background-position: -2535.26px 0px; }

.seal_42 { background-position: -2597.12px 0px; }

.seal_43 { background-position: -2658.98px 0px; }

.seal_44 { background-position: -2720.84px 0px; }

.seal_45 { background-position: -2782.7px 0px; }

.seal_46 { background-position: -2844.56px 0px; }

.seal_47 { background-position: -2906.42px 0px; }

.seal_48 { background-position: -2968.28px 0px; }

.seal_49 { background-position: -3030.14px 0px; }

.seal_50 { background-position: -3092px 0px; }

.seal_51 { background-position: -3153.86px 0px; }

.seal_52 { background-position: -3215.72px 0px; }

.seal_53 { background-position: -3277.58px 0px; }

.seal_54 { background-position: -3339.44px 0px; }

.seal_55 { background-position: -3401.3px 0px; }

.seal_56 { background-position: -3463.16px 0px; }

.seal_57 { background-position: -3525.02px 0px; }

.seal_58 { background-position: -3586.88px 0px; }

.seal_59 { background-position: -3648.74px 0px; }

.seal_60 { background-position: -3710.6px 0px; }

.seal_61 { background-position: -3772.46px 0px; }

.seal_62 { background-position: -3834.32px 0px; }

.seal_63 { background-position: -3896.18px 0px; }

.seal_64 { background-position: -3958.04px 0px; }

.seal_65 { background-position: -4019.9px 0px; }

.seal_66 { background-position: -4081.76px 0px; }

.seal_67 { background-position: -4143.62px 0px; }

.seal_68 { background-position: -4205.48px 0px; }

.seal_69 { background-position: -4267.34px 0px; }

.seal_70 { background-position: -4329.2px 0px; }

.seal_71 { background-position: -4391.06px 0px; }

.seal_72 { background-position: -4452.92px 0px; }

.seal_73 { background-position: -4514.78px 0px; }

.seal_74 { background-position: -4576.64px 0px; }

.seal_75 { background-position: -4638.5px 0px; }

.seal_76 { background-position: -4700.36px 0px; }

.seal_77 { background-position: -4762.22px 0px; }

.seal_78 { background-position: -4824.08px 0px; }

.seal_79 { background-position: -4885.94px 0px; }

.seal_80 { background-position: -4947.8px 0px; }

.seal_81 { background-position: -5009.66px 0px; }

.seal_82 { background-position: -5071.52px 0px; }

.seal_83 { background-position: -5133.38px 0px; }

.seal_84 { background-position: -5195.24px 0px; }

.seal_85 { background-position: -5257.1px 0px; }

.seal_86 { background-position: -5318.96px 0px; }

.seal_87 { background-position: -5380.82px 0px; }

.seal_88 { background-position: -5442.68px 0px; }

.seal_89 { background-position: -5504.54px 0px; }

.seal_90 { background-position: -5566.4px 0px; }

.seal_91 { background-position: -5628.26px 0px; }

.seal_92 { background-position: -5690.12px 0px; }

.seal_93 { background-position: -5751.98px 0px; }

.seal_94 { background-position: -5813.84px 0px; }

.seal_95 { background-position: -5875.7px 0px; }

.seal_96 { background-position: -5937.56px 0px; }

.seal_97 { background-position: -5999.42px 0px; }

.seal_98 { background-position: -6061.28px 0px; }

.seal_99 { background-position: -6123.14px 0px; }

.seal_100 { background-position: -6185px 0px; }

/*div.seal_100 { background-position: -4997px 0px;
}*/
