/* Lighter Blue */
/*$tertiary: #EFF8FA;*/
/*body{font:14px/1.6 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;color: #4A6970;}a:focus{outline:1px dotted invert}hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}*/
/*$font-size: 12px;
$line-height: 18px;*/
/* line 11, ../../../../app/stylesheets/themes/agentstream/text.scss */
body {
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  color: #676767;
}

/* line 17, ../../../../app/stylesheets/themes/agentstream/text.scss */
a:focus {
  outline: 1px dotted invert;
}

/* line 20, ../../../../app/stylesheets/themes/agentstream/text.scss */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/text.scss */
h1 {
  font-size: 25px;
}

/* line 30, ../../../../app/stylesheets/themes/agentstream/text.scss */
h2 {
  font-size: 23px;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/text.scss */
h3 {
  font-size: 21px;
}

/* line 36, ../../../../app/stylesheets/themes/agentstream/text.scss */
h4 {
  font-size: 19px;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/text.scss */
h5 {
  font-size: 17px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/text.scss */
h6 {
  font-size: 15px;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/text.scss */
ol {
  list-style: decimal;
}

/* line 48, ../../../../app/stylesheets/themes/agentstream/text.scss */
ul {
  list-style: square;
}

/* line 51, ../../../../app/stylesheets/themes/agentstream/text.scss */
li {
  margin-left: 30px;
}

/* line 54, ../../../../app/stylesheets/themes/agentstream/text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 9, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#page #welcome-page {
  width: 840px;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#header, #main, .alert, #footer, .primary, .aside, #logo, .global_nav, .utility, .stats {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 16, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#header, #main, .alert, #footer {
  width: 960px;
}

/* line 18, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#logo {
  width: 180px;
  margin-left: 0;
}

/* line 19, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.global_nav {
  width: 420px;
}

/* line 20, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.utility {
  width: 320px;
}

/* line 22, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.stats {
  width: 720px;
  margin-right: 0;
}
/* line 24, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.stats h4 {
  float: right;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#login-main {
  width: 480px;
  padding-left: 240px;
}

/* line 28, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#register-main {
  width: 720px;
  padding-left: 120px;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/layout.scss */
#login-agentstream-facebook-main {
  width: 360px;
  padding-left: 300px;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.primary {
  width: 560px;
  margin-left: 0;
}

/* line 34, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.aside {
  margin-top: 30px;
  width: 400px;
  margin-right: 0;
}

/* line 35, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.aside .module {
  margin-right: 0px;
  margin-left: 5px;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.list .primary {
  width: 720px;
}

/* line 40, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.list .aside {
  width: 240px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .primary {
  width: 720px;
  clear: both;
  margin-left: 0;
}

/* line 43, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .aside {
  width: 240px;
  margin-right: 0;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/layout.scss */
.profile .full_length {
  width: 960px;
  clear: both;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_0 {
  background-position: 1px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_1 {
  background-position: -60.86px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_2 {
  background-position: -122.72px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_3 {
  background-position: -184.58px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_4 {
  background-position: -246.44px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_5 {
  background-position: -308.3px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_6 {
  background-position: -370.16px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_7 {
  background-position: -432.02px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_8 {
  background-position: -493.88px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_9 {
  background-position: -555.74px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_10 {
  background-position: -617.6px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_11 {
  background-position: -679.46px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_12 {
  background-position: -741.32px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_13 {
  background-position: -803.18px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_14 {
  background-position: -865.04px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_15 {
  background-position: -926.9px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_16 {
  background-position: -988.76px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_17 {
  background-position: -1050.62px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_18 {
  background-position: -1112.48px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_19 {
  background-position: -1174.34px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_20 {
  background-position: -1236.2px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_21 {
  background-position: -1298.06px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_22 {
  background-position: -1359.92px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_23 {
  background-position: -1421.78px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_24 {
  background-position: -1483.64px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_25 {
  background-position: -1545.5px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_26 {
  background-position: -1607.36px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_27 {
  background-position: -1669.22px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_28 {
  background-position: -1731.08px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_29 {
  background-position: -1792.94px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_30 {
  background-position: -1854.8px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_31 {
  background-position: -1916.66px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_32 {
  background-position: -1978.52px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_33 {
  background-position: -2040.38px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_34 {
  background-position: -2102.24px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_35 {
  background-position: -2164.1px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_36 {
  background-position: -2225.96px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_37 {
  background-position: -2287.82px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_38 {
  background-position: -2349.68px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_39 {
  background-position: -2411.54px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_40 {
  background-position: -2473.4px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_41 {
  background-position: -2535.26px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_42 {
  background-position: -2597.12px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_43 {
  background-position: -2658.98px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_44 {
  background-position: -2720.84px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_45 {
  background-position: -2782.7px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_46 {
  background-position: -2844.56px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_47 {
  background-position: -2906.42px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_48 {
  background-position: -2968.28px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_49 {
  background-position: -3030.14px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_50 {
  background-position: -3092px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_51 {
  background-position: -3153.86px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_52 {
  background-position: -3215.72px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_53 {
  background-position: -3277.58px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_54 {
  background-position: -3339.44px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_55 {
  background-position: -3401.3px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_56 {
  background-position: -3463.16px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_57 {
  background-position: -3525.02px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_58 {
  background-position: -3586.88px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_59 {
  background-position: -3648.74px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_60 {
  background-position: -3710.6px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_61 {
  background-position: -3772.46px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_62 {
  background-position: -3834.32px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_63 {
  background-position: -3896.18px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_64 {
  background-position: -3958.04px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_65 {
  background-position: -4019.9px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_66 {
  background-position: -4081.76px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_67 {
  background-position: -4143.62px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_68 {
  background-position: -4205.48px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_69 {
  background-position: -4267.34px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_70 {
  background-position: -4329.2px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_71 {
  background-position: -4391.06px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_72 {
  background-position: -4452.92px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_73 {
  background-position: -4514.78px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_74 {
  background-position: -4576.64px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_75 {
  background-position: -4638.5px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_76 {
  background-position: -4700.36px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_77 {
  background-position: -4762.22px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_78 {
  background-position: -4824.08px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_79 {
  background-position: -4885.94px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_80 {
  background-position: -4947.8px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_81 {
  background-position: -5009.66px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_82 {
  background-position: -5071.52px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_83 {
  background-position: -5133.38px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_84 {
  background-position: -5195.24px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_85 {
  background-position: -5257.1px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_86 {
  background-position: -5318.96px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_87 {
  background-position: -5380.82px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_88 {
  background-position: -5442.68px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_89 {
  background-position: -5504.54px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_90 {
  background-position: -5566.4px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_91 {
  background-position: -5628.26px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_92 {
  background-position: -5690.12px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_93 {
  background-position: -5751.98px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_94 {
  background-position: -5813.84px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_95 {
  background-position: -5875.7px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_96 {
  background-position: -5937.56px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_97 {
  background-position: -5999.42px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_98 {
  background-position: -6061.28px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_99 {
  background-position: -6123.14px 0px;
}

/* line 7, ../../../../app/stylesheets/themes/agentstream/seals.scss */
.seal_100 {
  background-position: -6185px 0px;
}

/*div.seal_100 {
  background-position: -4997px 0px;
}*/
