/* line 1, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .categories {
  clear: both;
}

/* line 5, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list #list_text {
  float: left;
  margin: 20px 40px 20px 10px;
  width: 480px;
  font: 1.2em black;
  font-family: 'Arial';
  text-align: justify;
}

/* line 14, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .categories #expo_categories {
  list-style-type: none;
}

/* line 18, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .categories #expo_categories .travelexpo_category {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

/* line 24, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .categories #expo_categories .travelexpo_category li {
  float: left;
  margin: 30px 2px 15px 2px;
}

/* line 29, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .categories #expo_categories .travelexpo_category h3 {
  position: absolute;
  font-size: 15px;
  color: white;
  width: 100%;
  left: 30px;
  top: 30px;
}

/* line 38, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list {
  overflow: hidden;
  background-color: #fff;
}

/* line 43, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .group_results #controls dt {
  display: inline;
}

/* line 47, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .group_results #controls dd {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid #676767;
}

/* line 54, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list #travelexpo_marketing_message {
  float: right;
  margin-top: 25px;
  height: 150px;
  margin-bottom: 5px;
  width: 395px;
  margin-right: 8px;
}

/* line 63, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list #news_feed {
  float: left;
  width: 510px;
  border: 1px solid #c4d7dc;
  background-color: #EFF8FA;
}

/* line 70, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#groups {
  background-color: #fff;
}

/* line 74, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .details {
  width: auto;
}

/* line 78, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#news_feed .news_item {
  position: relative;
  height: 80px;
  margin: 5px 0 0;
  color: #4a6970;
  padding: 10 0 0 20px;
}

/* line 85, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
.news_item .details {
  display: inline;
  position: inherit;
}

/* line 90, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
.news_item .details .category_activity_who {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 95, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#news_feed .news_item .details p.what span {
  font-size: 10px;
}

/* line 99, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#list .group_results {
  float: right;
  left: 520px;
  width: 400px;
  padding: 0 0 0 10px;
}

/* line 106, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
table #admin_marketing {
  width: 90%;
}

/* line 110, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#admin_marketing th {
  height: 50px;
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 50px;
}

/* line 118, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#admin_marketing td {
  height: 50px;
  width: 110px;
  align: center;
  padding-left: 30px;
}

/* line 125, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#news_feed h3 {
  padding: 10px 10px 0 10px;
}

/* line 128, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
#booth_info {
  border: none;
  min-height: inherit;
}

/* line 132, ../../../../app/stylesheets/themes/agentstream/showcase.scss */
.sponsored_news_events {
  border: none;
}
