/*body{font:14px/1.6 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;color: #4A6970;}a:focus{outline:1px dotted invert}hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}*/
/*$font-size: 12px;
$line-height: 18px;*/
/* line 11, ../../../../app/stylesheets/themes/agentstream/text.scss */
body {
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  color: #676767;
}

/* line 17, ../../../../app/stylesheets/themes/agentstream/text.scss */
a:focus {
  outline: 1px dotted invert;
}

/* line 20, ../../../../app/stylesheets/themes/agentstream/text.scss */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 27, ../../../../app/stylesheets/themes/agentstream/text.scss */
h1 {
  font-size: 25px;
}

/* line 30, ../../../../app/stylesheets/themes/agentstream/text.scss */
h2 {
  font-size: 23px;
}

/* line 33, ../../../../app/stylesheets/themes/agentstream/text.scss */
h3 {
  font-size: 21px;
}

/* line 36, ../../../../app/stylesheets/themes/agentstream/text.scss */
h4 {
  font-size: 19px;
}

/* line 39, ../../../../app/stylesheets/themes/agentstream/text.scss */
h5 {
  font-size: 17px;
}

/* line 42, ../../../../app/stylesheets/themes/agentstream/text.scss */
h6 {
  font-size: 15px;
}

/* line 45, ../../../../app/stylesheets/themes/agentstream/text.scss */
ol {
  list-style: decimal;
}

/* line 48, ../../../../app/stylesheets/themes/agentstream/text.scss */
ul {
  list-style: square;
}

/* line 51, ../../../../app/stylesheets/themes/agentstream/text.scss */
li {
  margin-left: 30px;
}

/* line 54, ../../../../app/stylesheets/themes/agentstream/text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 58, ../../../../app/stylesheets/themes/agentstream/text.scss */
div#deals-header {
  padding: 0px 5px;
}
/* line 60, ../../../../app/stylesheets/themes/agentstream/text.scss */
div#deals-header h5 {
  margin-bottom: 0px;
}
