/* setting defaults */
body {background: transparent;font-size: 12pt;}
html {background: transparent;}
a:link, a:visited {
	color: #000;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	}
#header,
#mainNav,
#rotating,
#footNav,
#fine_print,
#tabs,
#report_links {display:none;}

table caption {text-align:left;font-size:14pt;font-weight:bold;}