/* 
html5doctor.com Reset Stylesheet
v1.6
Last Updated: 2010-08-18
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

.ui-autocomplete-results { /*resets*/ margin: 0; padding: 0; border: 1px solid #C4D7DC; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; font-family: Verdana, Arial, sans-serif; font-size: 1.1em; z-index: 9999; }

.ui-autocomplete-results ul, .ui-autocomplete-results li { margin: 0; padding: 0; list-style: none; }

.ui-autocomplete-results ul { position: relative; background: #ffffff; }

.ui-autocomplete-results li { position: relative; color: #222222; padding: .2em .5em; font-size: 11px; font-weight: normal; margin: 1px 0; }

.ui-autocomplete-results li .type { position: absolute; top: 2px; right: 5px; }

.ui-autocomplete-results li.ui-hover-state, .ui-autocomplete-results li.ui-active-state { margin: 0; }

.ui-autocomplete-results li.ui-autocomplete-over { background: #90B4BC; color: #fff !important; }

.ui-autocomplete-results li.ui-autocomplete-active { background: #90B4BC; color: #fff !important; outline: none; }

.ui-autocomplete-results li:first-child, .ui-autocomplete-results li.first { margin-top: 0; }

.ui-autocomplete-results li:last-child, .ui-autocomplete-results li.last { margin-bottom: 0; }

#ui-datepicker-div { background-color: #fff; }

/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }

.ui-datepicker .ui-datepicker-header { position: relative; padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }

.ui-datepicker .ui-datepicker-prev { left: 2px; }

.ui-datepicker .ui-datepicker-next { right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover { left: 1px; }

.ui-datepicker .ui-datepicker-next-hover { right: 1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }

.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }

.ui-datepicker .ui-datepicker-title select { float: left; font-size: 1em; margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%; }

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }

.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 .4em; }

.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0; }

.ui-datepicker td { border: 0; padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding: 0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width: auto; overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto; }

.ui-datepicker-multi .ui-datepicker-group { float: left; }

.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }

.ui-datepicker-row-break { clear: both; width: 100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }

.ui-datepicker-rtl .ui-datepicker-group { float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover { display: none; /*sorry for IE5*/ display/**/: block; /*sorry for IE5*/ position: absolute; /*must have*/ z-index: -1; /*must have*/ filter: mask(); /*must have*/ top: -4px; /*must have*/ left: -4px; /*must have*/ width: 200px; /*must have*/ height: 200px; /*must have*/ }

.late { color: red; font-weight: bold; }

/*.tooltip { cursor: text; }*/
#tooltip { position: absolute; z-index: 3000; border: 1px solid #111; padding: 5px; background: #ff9; }

#tooltip h3 { font-size: 11px; font-weight: normal; }

#tooltip h3, #tooltip div { margin: 0; }

div.pagination { background-color: inherit; margin: 0px 0 0px; padding: 0; font-size: 16px; text-align: center; position: relative; clear: both; }

div.pagination a, div.pagination span { display: inline; list-style-type: none; background-color: #fff; }

div.pagination a, div.pagination a:visited { border: 1px solid #888; padding: 2px 5px 0; color: #888; font-weight: bold; text-decoration: none; }

div.pagination a:hover, div.pagination a:active { border: 1px solid #000; background-color: #D8E9E6; color: #888; }

div.pagination span { background-color: inherit; }

div.pagination span.currentpage { font-weight: bold; border: 1px solid #000; padding: 2px 5px 0; background-color: #D8E9E6; color: #888; }

div.pagination span.disablepage { display: none; }

div.pagination span.nextpage { font-weight: bold; }

div.action_buttons { float: right; margin-top: 20px; width: 15%; }

div.action_buttons .button, div.action_buttons a.button { width: 100px; }

.button, a.button { margin: 0 2px 5px 0; background: #4A6970; border: 0; padding: 2px 5px; color: #fff; font-size: 1em; text-transform: uppercase; font-weight: bold; text-align: center; }

.button.little, a.button.little { font-size: 0.8em; }

.button.light, a.button.light { background: #90b4bc; }

#header { height: 110px; }

#header h1 { float: left; height: 110px; margin: 0; overflow: hidden; text-indent: -9999px; }

#header h1 a { background: url("http://placehold.it/140x80/eeeeee/&text=logo") no-repeat 0 0; display: block; height: 100px; margin: 5px 0px 0px 10px; width: 220px; }

#header .nav { display: block; }

#header .nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#header .nav li { display: block; float: left; margin: 0 15px 0 0; }

#header .nav a { color: #4a6970; }

#header .global_nav { font-size: 16px; margin: 30px 0 0; text-transform: lowercase; text-align: right; }

#header .global_nav li:first-child { margin-left: 70px; }

#header .global_nav li.active { border-bottom: 1px solid #4a6970; }

#header .global_nav li a { display: block; padding: 30px 0 0 0; }

#header .nav #hub_nav a { background: url("/images/icons/as/nav/off/home.png") no-repeat 50% top; }

#header .nav #hub_nav.active a, #header .nav #hub_nav a:hover { background: url("/images/icons/as/nav/on/home.png") no-repeat 50% top; }

#header .nav #qa_nav a { background: url("/images/icons/as/nav/off/help.png") no-repeat 50% top; }

#header .nav #qa_nav.active a, #header .nav #qa_nav a:hover { background: url("/images/icons/as/nav/on/help.png") no-repeat 50% top; }

#header .nav #group_nav a { background: url("/images/icons/as/nav/off/user-group.png") no-repeat 50% top; }

#header .nav #group_nav.active a, #header .nav #group_nav a:hover { background: url("/images/icons/as/nav/on/user-group.png") no-repeat 50% top; }

#header .nav #blog_nav a { background: url("/images/icons/as/nav/off/write-note.png") no-repeat 50% top; }

#header .nav #blog_nav.active a, #header .nav #blog_nav a:hover { background: url("/images/icons/as/nav/on/write-note.png") no-repeat 50% top; }

#header .nav #news_nav a { background: url("/images/icons/as/nav/off/announcement.png") no-repeat 50% top; }

#header .nav #news_nav.active a, #header .nav #news_nav a:hover { background: url("/images/icons/as/nav/on/announcement.png") no-repeat 50% top; }

#header .utility { margin: 20px 0 0 50px; font-size: 14px; }

#header .utility .nav { float: right; }

#header .utility .nav li { font-size: 0.9em; margin-right: 8px; }

#header .utility .search { float: right; margin: 0 5px 0 0; }

#header .utility .search input[type=text], #header .utility .search #global_search_input { margin-top: 0; height: 20px; width: 210px; }

#header .utility .search .button { font-size: 12px; margin: 0 3px 0 0; padding-bottom: 4px; padding-top: 1px; text-align: center; text-transform: capitalize; height: 22px; width: 70px; }

/*#header .utility .nav .online_now {  padding: 5px 0 5px 20px; background: url('/images/bg_nav_online_now.png') 0 50% no-repeat; }*/
#header .utility .nav .online_now { padding: 7px 0 5px 20px; background: url("/images/icons/as/online-now.png") 0 50% no-repeat; }

.nav .drop_down { padding: 0 15px 0 0; background: url("/images/bg_nav_dropdown.png") 100% 50% no-repeat; }

#header, #main { border: 1px solid #c4d7dc; border-width: 0 1px 0; }

#main { border-width: 0 1px 1px; }

#footer { clear: both; }

.aside .module, .primary .module { margin: 0; padding: 10px 20px 10px; border: 1px solid #c4d7dc; border-width: 1px 0 0 0; background: #e5f1f4; }

.aside .module { border-width: 1px 0 0 1px; }

.aside .last { border-bottom: 1px solid #c4d7dc; }

div.news_item div.details div.icon { float: right; text-align: center; width: 22px; }

div.news_item div.details div.icon img.icon { height: 22px; /*opacity: 0.7;*/ }

.tabs { position: relative; margin: 0 10px; padding: 0; zoom: 1; }

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.tabs .tabs-nav { margin: 0; padding: 0; }

.tabs .tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 10px 0 0; /*border-bottom: 0 !important; */ padding: 0; white-space: nowrap; border: 1px solid #C4D7DC; font-weight: bold; }

.tabs .tabs-nav li a, .tabs .tabs-nav li span { float: left; padding: .5em 1em; text-decoration: none; }

.tabs .tabs-nav li.tabs-selected { margin-bottom: 0; padding-bottom: 1px; }

.tabs .tabs-nav li.tabs-selected a, .tabs .tabs-nav li.state-disabled a, .tabs .tabs-nav li.state-processing a { cursor: text; }

.tabs .tabs-nav li a, .tabs.tabs-collapsible .tabs-nav li.tabs-selected a { cursor: pointer; }

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.tabs .tabs-panel { display: block; clear: left; padding: 10px; background: none; border: 1px solid #C4D7DC; position: relative; top: -1px; margin-top: -1px; margin-bottom: 10px; }

.tabs .tabs-hide { display: none !important; }

.tabs .tabs-nav { background: #fff; }

/* required comment for clearfix to work in Opera \*/
* html .tabs .tabs-nav { height: 1%; }

.tabs .tabs-nav { margin: 0; display: block; }

.tabs .tabs-nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.tabs .tabs-nav li { white-space: nowrap; background: #e6edea; color: #92b5bd; text-shadow: #fff 0 1px 0; }

.tabs .tabs-nav li.active, .tabs .tabs-nav li.selected { margin: 0 10px 1px 0; background: #d8e9e6; border-bottom: 1px solid #D8E9E6; color: #4a6970; z-index: 1; }

.tabs .st-tabs-nav li.active a:hover, .tabs .st-tabs-nav li.selected a:hover { color: #333; }

.tabs .tabs-nav li.disabled a { color: #b4b4b4; background-image: none; cursor: default !important; }

.tabs .tabs-nav li.disabled a:hover { color: #b4b4b4; }

.tabs .tabs-nav li a:hover, .tabs .tabs-nav li.active a { color: #888; text-decoration: none; }

.tabs .tabs-nav li.active a, .tabs .tabs-nav li.selected a, .tabs .tabs-nav li.disabled a { cursor: text; }

.tabs .tabs-nav li a, .tabs.ui-tabs-collapsible .tabs-nav li.ui-tabs-selected a { cursor: pointer; color: #92b5bd; }

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.tabs .tabs-panel { display: block; border-width: 0; background: #d8e9e6; border: 1px solid #C4D7DC; }

.tabs .hide { display: none !important; }

.tabs .tabs-nav li span#matchedq { float: none; padding: 0; }

.tabs .tabs-panel h3.lead { margin-left: 10px; }

.karma_level_1, a.karma_level_1 { padding-right: 16px; background: url(/images/karma_small_level_1.png) right center no-repeat; }

.karma_level_2, a.karma_level_2 { padding-right: 26px; background: url(/images/karma_small_level_2.png) right center no-repeat; }

.karma_level_3, a.karma_level_3 { padding-right: 36px; background: url(/images/karma_small_level_3.png) right center no-repeat; }

.karma_level_4, a.karma_level_4 { padding-right: 46px; background: url(/images/karma_small_level_4.png) right center no-repeat; }

/* rendered profiles.rcss, find/replace #profile_tab -> #profile_tab */
#profile_tab .add_pad_top { padding-left: 4px; }

#profile_tab .add_pad_bottom { padding-bottom: 4px; }

#profile_tab .add_pad_left { padding-left: 4px; }

#profile_tab .add_pad_right { padding-right: 4px; }

#profile_tab ul.action_list { float: right; margin: 0 0 8px; }

/* #profile_tab .user_card { clear: both; position: relative; margin: 0 auto; border: 1px solid #000; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; padding: 15px 15px 5px 15px; width: 754px; background: url(/images/userCardBG.png); } */
#profile_tab .user { border: 0; }

#profile_tab .user_card:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#profile_tab .user_card { background: #d8e9e6; border: none; width: auto; }

.profile .tabs-panel #list { background: #d8e9e6 !important; }

#profile_tab .user_card { zoom: 1; }

#photos { float: left; }

#photos .sponsor_ribbon { width: 235px; height: 30px; background: url(/images/sponsor_ribbon_large.png) bottom right no-repeat; }

#photos .no_alt_photos { width: 172px; }

#photos .alternate_photos { float: left; }

#photos .alternate_photos img { display: block; margin: 0 10px 4px 0; }

#photos .disabledPhotoHover { display: none; position: absolute; z-index: 40; width: 150px; background: #ff9; border: 3px solid #2392C9; }

#photos .disabledPhotoHover .pad { border: 1px solid #000; padding: 10px; padding: 10px; }

#photos .disabledPhotoHover .disabledPointer { background: url(/themes/theme_5/images/pointerDown.png); width: 34px; height: 19px; position: absolute; left: 60px; top: 49px; }

#profile_tab dl.profile_info { float: left; margin: 0; width: 250px; padding-right: 10px; padding-left: 10px; min-height: 210px; }

#profile_tab dl.profile_info dt { margin: 0; font-weight: bold; }

#profile_tab dl.profile_info dt.required { color: #2392C9; }

#profile_tab a.spacer { line-height: 18px; }

#profile_tab dl.profile_info dd { margin: 0; }

#profile_tab dl.profile_info dd.contact_info h3 { margin: 12px 0 0; font-size: 12px; }

#profile_tab dl.profile_info dd.contact_info dl { margin: 0; }

#profile_tab dl.profile_info dd.contact_info dl dt { clear: left; float: left; margin: 0 5px 1px 0; }

#profile_tab dl.profile_info dd.contact_info dl dd { float: left; margin-bottom: 1px; }

#profile_tab dl.profile_info dt.name { margin-bottom: 3px; font-size: 20px; font-weight: bold; }

#profile_tab dl.profile_info dt.title { float: left; margin-right: 5px; }

#profile_tab dl.profile_info dd.tagline { clear: left; padding-top: 5px; color: #1E678A; font-size: 14px; font-weight: bold; font-style: italic; }

#profile_tab dl.profile_info dd.inline_editable form input { width: 100%; }

#profile_tab dl.profile_info dd.inline_editable form input.button { width: auto; font-size: 0.8em; }

#profile_tab dl.profile_info dd.inline_editable form span.counter, #profile_tab div.question p.inline_editable form span.counter { color: #111; font-weight: normal; font-style: normal; float: right; }

#profile_tab dl.profile_info dd.tagline form input { margin-top: -5px; color: #1E678A; font-size: 14px; font-weight: bold; font-style: italic; }

#profile_tab dl.profile_info dd.tagline form input.button { margin-top: 2px; color: #000; font-size: 11px; font-weight: bold; font-style: normal; }

#stats { float: left; margin-left: 10px; width: 200px; font-weight: bold; }

#stats h3 { margin-top: 0; margin-bottom: 5px; color: #1E678A; }

#stats table tbody tr td { font-weight: bold; }

#stats table tbody tr td.left { width: 90px; }

#stats table tbody tr td.middle { width: 35px; text-align: right; }

#stats table tbody tr td.right { width: 55px; text-align: right; }

#stats table tbody tr.karma td { font-size: 13px; }

#stats table tbody tr.completion td { font-size: 13px; }

#profile_awards_and_notes { margin-left: 4px; }

#profile_awards_and_notes:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#profile_awards_and_notes { zoom: 1; }

#awards { float: left; padding-top: 8px; width: 140px; height: 185px; background: #68401C; text-align: center; display: inline; }

#awards h3 { margin-top: 0; font-size: 16px; color: #fff; font-weight: bold; text-shadow: #111 4px 4px 3px; }

#awards .award { margin: 15px auto 10px; border: 4px solid #fff; padding: 1px; width: 90px; background: #f00; }

#awards .award .award_details { background: #fff; }

#awards .award .award_details img { margin: 5px 5px 7px; }

#awards .award .award_details span.award_caption { display: block; padding: 0 3px 3px; }

#awards a { color: #fff; }

#notes { float: left; margin: 0; padding: 0; }

#profile_questions { clear: both; position: relative; margin: 0 11px 0 10px; padding-top: 15px; }

#profile_questions h3 { clear: both; margin: 0 0 15px; border-bottom: 1px solid #C4D7DC; color: #1E678A; font-weight: bold; }

#profile_questions .profile_questions_sec { margin-bottom: 20px; }

#profile_questions .profile_questions_sec:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#profile_questions .profile_questions_sec { zoom: 1; }

#profile_questions .question { float: left; margin: 0 0 20px 0; width: 420px; background: inherit; }

#profile_questions .question p { width: 350px; margin: 0; }

#profile_questions .odd { clear: left; _display: inline; margin-right: 20px; }

#profile_questions .question h4.title { margin: 0 0 8px; color: #676767; }

#profile_questions .question p.instr { margin-top: -5px; color: #555; }

#profile_questions h4.required { color: #2392C9; }

.profile_popup { text-align: justify; }

/* explore */
div.profile_results h2.result_header { float: left; margin: 0 0 10px; font-weight: normal; }

div.profile_results #filter_form { margin: 0 0 10px; }

#filter_form:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#filter_form { zoom: 1; }

div.profile_results:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

div.profile_results { zoom: 1; }

#explore_results { clear: both; }

div.profile_results div.profile { float: left; margin: 0 0 15px; border: 1px solid #666; padding: 0 0 13px; width: 387px; background: transparent url(/images/userCardBG.png) repeat scroll 0 0; zoom: 1; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

div.profile_results div.odd { clear: left; margin: 0 15px 15px 0; }

div.profile_results div.photo_wrapper { float: left; margin: 13px; padding: 0; width: 80px; display: inline; }

div.profile_results div.photo_wrapper img.photo { display: block; }

div.profile_results dl.profile_info { float: left; margin: 10px 0 0; width: 230px; display: block; }

div.profile_results dl.profile_info:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

div.profile_results dl.profile_info { zoom: 1; }

div.profile_results dl.profile_info dt { font-weight: bold; }

div.profile_results dl.profile_info dt.name { font-size: 16px; }

div.profile_results dl.profile_info dt.name a { color: #000; text-decoration: none; }

div.profile_results dl.profile_info dt.name a:hover { color: #1802AD; text-decoration: underline; }

div.profile_results dl.profile_info dd { margin: 0; }

div.profile_results dl.profile_info dd.title { margin-top: 3px; color: #111; }

div.profile_results dl.profile_info dd.tagline { margin: 8px 0; color: #1E678A; font-size: 14px; font-weight: bold; font-style: italic; }

div.profile_results dl.profile_info dd.contact_info h3 { margin: 0; font-size: 12px; }

div.profile_results dl.profile_info dd.contact_info dl { margin: 0; }

div.profile_results dl.profile_info dd.contact_info dl dt { clear: left; float: left; margin-right: 5px; }

div.profile_results dl.profile_info dd.contact_info dl dd { float: left; }

/* hub */
/*#hub { float: left; width: 595px; }

#hub:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#hub { zoom: 1; }*/
#marketing_message { float: left; margin-bottom: 18px; width: 595px; }

#marketing_message img { display: block; }

#system_announcement { float: left; margin-bottom: 18px; width: 595px; }

#system_announcement div.header { padding: 4px 7px 4px 0; background: #1e678a url(/themes/theme_5/images/widget_bar.png) repeat-x; color: #fff; }

#system_announcement div.header h3 { margin: 0; padding-left: 5px; font-size: 11px; }

#system_announcement div.content { padding: 7px; }

#hub_widgets { float: left; margin-bottom: 18px; padding: 2px; width: 595px; }

#hub_widgets:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#hub_widgets { zoom: 1; }

#hub_widgets div.hub_widgets_col_1 { float: left; width: 290px; }

#hub_widgets div.hub_widgets_col_2 { float: left; margin-left: 15px; _margin-left: 12px; width: 290px; }

/* following */
#group_action_links, #profile_action_links { float: right; padding: 0 4px 10px; }

dl#watch_list { float: left; margin: 1px 15px 8px 0; padding: 8px 8px 15px; width: 180px; font-size: 1.2em; background: #fff; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

dl#watch_list dt, dl#watch_list dd { padding: 2px 0; }

#watch_list dt:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#watch_list dt { zoom: 1; }

#watch_list dd:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#watch_list dd { zoom: 1; }

dl#watch_list dt { font-weight: bold; margin: 0 0 0 5px; padding-top: 5px; }

dl#watch_list dd.selected { margin: 0 -17px 0 -8px; padding-left: 20px; background: white url(/images/watch_selected_bg.png) right center no-repeat; }

dl#watch_list dd a, #watch_list dd span { float: left; }

dl#watch_list dd a.item_remove { float: right; margin: 0 0 0 8px; padding: 2px 2px 2px 3px; font-size: 11px; line-height: 1em; text-decoration: none; color: #00f; background: #fff; }

dl#watch_list dd.selected a.item_remove { margin-right: 17px; }

#favorites { float: left; width: 582px; padding-bottom: 10px; }

#favorites:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#favorites { zoom: 1; }

#favorites #filter_form { margin-bottom: 10px; }

#favorites #filter_form dl#filter_options { text-align: left; }

#favorites #filter_form dl#filter_options dt, #favorites #filter_form dl#filter_options dd { display: inline; padding: 0 10px; }

#favorites #filter_form dl#filter_options dd { border-right: 1px solid #676767; }

#favorites #filter_form dl#filter_options dd:last-child { border-right: 0; }

#favorites #events:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#favorites #events { margin-bottom: 10px; zoom: 1; }

#favorites #events .favorite_item { position: relative; margin: 15px 0 0; padding: 10px; width: 264px; height: 136px; background: #ddd; font-size: 1.2em; overflow: hidden; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

#favorites #events .odd { float: left; }

#favorites #events .even { float: right; }

#favorites #events .watch_title { font-weight: bold; }

#favorites #events .watch_title .watch_letter { font-weight: bold; color: #4a6970; }

#favorites #events .watch_title a { color: #000; text-decoration: none; }

#favorites #events .watch_title a:hover { color: #1802ad; text-decoration: underline; }

#favorites #events p { font-size: 13px; margin: 0.8em 0; }

#favorites #events .author { width: 258px; font-size: 11px; }

#favorites #events .author .photo_wrapper { float: left; margin: 0; }

#favorites #events .author img.photo { margin: 2px 8px 0 0; }

/* awards pop-up */
div.awards { width: 460px; }

div.awards .title { margin: -10px 0 5px; padding-bottom: 5px; }

div.awards .award { padding-bottom: 15px; clear: both; }

div.awards .award_image { width: 100px; float: left; }

div.awards .details { padding-left: 15px; width: 285px; float: left; color: #333; }

.details:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.details { zoom: 1; }

.award:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.award { zoom: 1; }

div.awards .details h3 { padding: 0; margin: 0; color: #000; }

div.awards .details p { padding: 0; margin: 0; }

/* Notification - Informational */
div.profile_notification { color: #2392C9; font-weight: bold; font-style: italic; }

div.profile_notification.informational { color: green; }

div.profile_notification.alert { color: yellow; }

div.profile_notification.urgent { color: red; }

span.profile_notification { color: #2392C9; float: right; margin-left: 10px; margin-bottom: 1px; font-weight: bold; font-style: italic; }

span.profile_notification.informational { color: green; }

span.profile_notification.alert { color: yellow; }

span.profile_notification.urgent { color: red; }

/* stats */
#stats_container { border: 1px solid #C4D7DC; border-left: 0; border-right: 0; margin-top: 10px; }

#stats h4 { color: #78756e; margin: 5px 0 5px 0; }

#stats h4:first-child { display: none; }

#stats table { margin-bottom: 0; }

#stats table td { border-right: 1px solid #C4D7DC; padding: 0 15px 0 15px; text-align: left; }

#stats table td.first { padding-left: 0; }

#stats table td.last { border-right: 0; }

#stats table td h5 { font-size: 1.2em; margin: 0; }

#stats table td span.count { color: #1E678A; font-size: 2.0em; letter-spacing: -0.1em; line-height: 1em; margin-right: 0.2em; }

#stats table td span.extra a { font-style: italic; font-weight: normal; }

/* avatar */
div.photo_wrapper { position: relative; }

div.photo_wrapper img.online_now_indicator { position: absolute; right: -2px; bottom: -2px; }

div.photo_wrapper img.sponsor_indicator { position: absolute; bottom: -2px; left: -4px; }

div.photo_wrapper img.group_icon { position: absolute; right: -4px; bottom: -4px; }

/* lists */
.profile #list { background-color: inherit; border-top: 0; padding: 0; }

/* status */
.profile div#profile_status { margin-left: 566px; width: 340px; }

.profile div#profile_status span.counter { float: left; }

.profile div#profile_status textarea { width: 100%; }

.profile div#profile_status div.buttons { text-align: right; width: 353px; }

.profile div#profile_status div.event { margin-top: 10px; }

.profile h4 { font-size: 1.3em; }

div.avatar_large { background: #fff; float: left; width: 195px; height: 198px; padding: 7px 0; margin: 0 10px; text-align: center; display: inline; }

/* Group Actions */
.group_actions { text-align: left; }

ul.group_actions li { display: inline; margin: 0 20px 0 0px; }

#group_action_list.group_actions { float: right; }

/* Group Hub */
#group_hub #notes { display: none; }

#group_hub .group_card .photo_wrapper { float: left; }

#group_hub .group_card .details { margin-left: 190px; }

#group_hub .group_card .details h3 { margin-bottom: 0; }

#group_hub .group_card .details h4 { font-size: 1.0em; font-weight: bold; margin-bottom: 0; margin-top: 40px; }

/* Group Widgets */
#group_widgets { margin: 10px 20px; }

#group_widgets h3 { margin-bottom: 2px; }

#group_widgets #group_drive_bys .content .photo_wrapper { float: left; margin: 0 3px 3px 0; }

/* Group Stream */
#stream.group h5 { margin-bottom: 0; }

#stream.group .events .evemt { clear: both; margin-top: 10px 0 40px 0; }

#stream.group .events .event .photo_wrapper { float: left; margin: 0 3px; }

#stream.group .events .event .detail { margin: 10px 0 20px 30px; }

#stream.group .events .event .detail .did, #stream.group .events .event .detail .what, #stream.group .events .event .detail .detail { display: block; margin: 0; }

/* Group Members */
.group_members:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#member_card { position: relative; clear: right; float: left; display: block; margin-right: 18px; margin-bottom: 18px; background: #fff; border: 1px solid #000; padding: 10px; width: 370px; _height: 190px; min-height: 190px; zoom: 1; overflow: hidden; }

#member_card ul.group_member_card_actions { float: right; _display: inline; margin: 0 4px; list-style: none; }

#member_card div.member_photo_and_meta { clear: right; float: left; margin-right: 15px; width: 100px; }

#member_card div.photo_wrapper { margin-bottom: 5px; zoom: 1; }

#member_card div.photo_wrapper img.photo { display: block; }

#member_card dl.meta { margin: 0; text-align: center; }

#member_card dl dt { font-weight: bold; }

#member_card dl dd { margin: 0 0 5px 0; }

#member_card dl dd.owner { margin-top: 5px; padding-top: 35px; background: url(/images/icon_group_owner.png) no-repeat center top; font-weight: bold; color: #d2931f; text-transform: uppercase; }

#member_card dl dd.moderator { margin-top: 5px; padding-top: 50px; background: url(/images/icon_group_moderator.png) no-repeat center top; font-weight: bold; color: #d2931f; text-transform: uppercase; }

#member_card dl.member_info { float: left; margin: 0; width: 255px; }

#member_card dl.member_info dt { font-weight: bold; }

#member_card dl.member_info dt.name { font-size: 16px; }

#member_card dl.member_info dd { margin: 0; }

#member_card dl.member_info dd.title { margin-top: 3px; color: #111; }

#member_card dl.member_info dd.tagline { margin: 8px 0; font-size: 14px; font-weight: bold; font-style: italic; }

#member_card dl.member_info dd.contact_info dl { margin: 0; zoom: 1; }

#member_card dl.member_info dd.contact_info dl dt { clear: left; float: left; margin: 0; margin-right: 5px; }

#member_card dl.member_info dd.contact_info dl dd { float: left; margin: 0; }

#members_images_wrapper { float: left; width: 484px; }

#members_images { position: relative; margin: 0; width: 484px; overflow: hidden; }

table#members { font-size: 0; }

table#members tbody tr td div.photo_wrapper { margin: 0 3px 3px 0; }

table#members tbody tr td.last div.photo_wrapper { margin-right: 0; }

#member_scrollers { width: 384px; }

#left_scroll { float: left; }

#right_scroll { float: right; }

dl.group_owner { clear: both; float: left; margin: 0; width: 350px; }

dl.group_owner dt { float: left; padding: 4px 0 0 32px; background: url(/images/icon_group_owner_sm.png) no-repeat left center; font-weight: bold; color: #d2931f; text-transform: uppercase; }

dl.group_owner dd { float: left; margin: 0 0 0 5px; padding: 4px 0 0; }

dl.moderators { clear: left; float: left; margin: 8px 0 0; width: 350px; }

dl.moderators dt { float: left; padding: 5px 0 5px 32px; background: url(/images/icon_group_moderator_sm.png) no-repeat left center; font-weight: bold; color: #d2931f; text-transform: uppercase; }

dl.moderators dd { float: left; margin: 0 0 0 5px; padding: 4px 0 0; }

#invitation_requests { clear: left; padding-top: 25px; }

#invitation_requests div.profile_results dl.profile_info { width: 200px; }

#invitation_requests div.profile_results dd.invite_requested_on { margin-top: 13px; color: #444; font-weight: bold; }

#invitation_requests div.action_buttons { margin: 13px 13px 0 0; }

/* Photo Gallery */
h3.gallery a.title_action_link { display: block; float: right; font-size: 0.9em; }

ul.thumbnails { list-style: none; margin: 5px 0; }

ul.thumbnails li { float: left; margin: 2px; }

ul.thumbnails li a img { border: 1px solid #C4D7DC; }

ul.thumbnails:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.photo_details { float: left; width: 500px; }

.photo_details .gallery_photo_full { background: #fff; margin-bottom: 5px; margin-right: 10px; padding: 10px 10px 5px; text-align: center; }

.photo_details p { margin-bottom: 0; }

.photo_details .gallery_photo_rate { float: right; margin-top: -20px; margin-right: 10px; }

.photo_details dl { margin-top: 10px; }

.photo_details dl dt { float: left; margin-right: 5px; }

.photo_details ul.action_list { list-style: none; }

.photo_details ul.action_list li { display: inline; margin-left: 0; margin-right: 20px; }

.secondary_photo_details .current { border: 1px solid #990000; }

.secondary_photo_details .thumbnail_link { float: left; }

.secondary_photo_details img { margin-right: 8px; border: 1px solid #bbb; }

.secondary_photo_details .at_last_photo { display: block; margin-top: 40px; margin-left: 9px; float: left; width: 90px; text-align: center; color: #666; }

.secondary_photo_details .at_first_photo { display: block; margin-top: 40px; margin-right: 9px; float: left; width: 90px; text-align: center; color: #666; }

.secondary_photo_details { margin-left: 510px; width: 300px; overflow: hidden; }

.secondary_photo_details .comments { clear: both; padding-top: 4px; }

.secondary_photo_details .comments img { border: 0; }

.secondary_photo_details textarea#comment_text { width: 290px; height: 60px; }

.secondary_photo_details div.buttons { clear: both; margin-top: 14px; text-align: center; }

.secondary_photo_details .comments div.comment_item div.details { margin-left: 0; width: 225px; }

.secondary_photo_details .comments div.comment_item div.details h5 { margin: 3px 0 3px; }

.secondary_photo_details .comments div.comment_item div.details p.meta { margin-bottom: 1.2em; font-size: 11px; color: #555; }

.secondary_photo_details .comments div.comment_item div.details p.text { margin-bottom: 3px; color: #333; font-size: 12px; line-height: 1.4em; text-align: justify; }

/* group talk */
form#new_group_post { position: relative; float: left; margin: 0 15px 0 0; border: 1px solid; padding: 12px 16px 0; width: 227px; }

form#new_group_post h2 { font-size: 1.5em; line-height: 1.2em; }

form#new_group_post textarea { width: 223px; height: 100px; }

form#new_group_post div.buttons { margin: 20px 0; text-align: center; }

form#new_group_post p.meta { text-align: center; color: #333; font-size: 11px; }

#group_posts { width: 500px; margin-left: 140px; float: left; }

#group_posts:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#group_posts div.group_post_item { padding-bottom: 2px; }

#group_posts div.photo_wrapper { float: left; }

#group_posts div.details { margin-left: 65px; width: 400px; }

#group_posts div.details h5 { margin-bottom: 0; }

#group_posts div.group_post_item div.details div.item_text { margin-top: -3px; }

#group_posts div.group_post_item div.details div.asked_by { margin-top: 3px; color: #333; }

#group_posts div.group_post_item div.details ul.action_list { margin: 4px 0 5px -2px; color: #333; list-style: none; }

#group_posts div.group_post_item div.details ul.action_list li { display: inline; margin: 0 10px 0 0px; }

#group_posts div.group_post_item div.replies { clear: both; margin-left: 65px; padding-top: 18px; width: 400px; }

#group_posts div.group_post_item div.replies div.comment_item { margin-bottom: 10px; }

/*#group_posts div.group_post_item div.replies div.odd { background: #f0f0f0; }*/
#group_posts div.group_post_item div.replies div.even { border-top: 1px solid #4A6970; padding-top: 14px; }

#group_posts div.group_post_item div.replies h4 { margin-bottom: 12px; font-size: 13px; }

#group_posts div.group_post_item div.replies div.comment_item div.details { width: 300px; }

#group_posts div.group_post_item div.replies form { margin-bottom: 18px; padding: 0px; }

#group_posts div.group_post_item div.replies form h5 { margin: 0 0 8px; font-size: 12px; }

#group_posts div.group_post_item div.replies form p.error { font-weight: bold; color: #f00; }

#group_posts div.group_post_item div.replies form fieldset { margin-bottom: 0; }

#group_posts div.group_post_item div.replies form fieldset label { display: block; font-weight: bold; }

#group_posts div.group_post_item div.replies form fieldset textarea { width: 355px; height: 100px; }

#group_posts div.group_post_item div.replies form div.buttons input.button { display: inline; margin-right: 10px; }

h2.page_title { margin: 10px 0 0 10px; }

.list_action_button { float: right; font-size: 1.2em; font-weight: bold; margin-right: 20px; text-decoration: underline; }

.list .description .content { margin: 0 10px 10px; padding: 10px 10px 1px; background: #d5eae6; }

.list .description .photo_wrapper { float: left; margin: 0 20px 0 0; }

.list .description .close2 { position: relative; float: right; }

.listform p, .listform a, .listform dt, .listform dd { display: inline; padding: 0 10px; }

.listform dl { float: right; }

.listform dd { border-right: 1px solid #676767; }

.listform dl dd:last-child { border-right: 0; padding-right: 0; }

.listform div.categories { display: inline; }

.listform div { margin: 10px 0; }

.listform div strong { float: left; width: 80px; }

.tabs-header { margin: 0; padding: 10px 10px 1px; background: #d5eae6; }

/* Lists */
#list { position: relative; background-color: #eff8fa; border-top: 1px solid #c4d7dc; padding: 10px 10px; }

#list .photo_wrapper { float: left; margin: 20px 20px 20px 0; }

#list .details { position: relative; display: block; float: left; width: 575px; margin-top: 20px; }

#list .details p { margin-bottom: 1em; }

#list .action_buttons { position: relative; }

/* Same as H3 */
#list .details div.item_text, #list .details div.item_text a { color: #4A6970; font-size: 16px; font-weight: normal; }

#list div.list_item:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

/* Content */
#content { position: relative; background-color: #eff8fa; border-top: 1px solid #c4d7dc; }

#content .photo_wrapper { float: left; margin: 20px; }

#content .details { display: block; float: left; width: 575px; margin-top: 20px; }

/* Groups */
.group_item h3 { margin-bottom: 0; }

/* Questions */
div.single_item .question_text { font-size: 16px; font-weight: bold; color: #4A6970; }

div.single_item #best_answer_top { clear: both; }

div.single_item #best_answer_top h4 { margin-bottom: 0px; margin-top: 20px; }

div.single_item .details { float: left; width: 65%; }

div.single_item div.photo_wrapper img { width: 120px; height: 120px; }

div.single_item div.action_buttons { float: right; width: 15%; }

#list .details ul.action_list li, div.single_item .details ul.action_list li { display: inline; margin-left: 0; margin-right: 30px; }

#list .details ul.action_list li a, div.single_item .details ul.action_list li a { color: #90b4bc; }

#list div.action_buttons a, div.single_item div.action_buttons a { display: block; }

#list div.action_buttons a.best { display: inline; }

#list div.vote_wrap a { display: inline; }

#answer_form fieldset { position: relative; clear: both; margin-top: 10px; }

#list #answers .answer { clear: both; }

#list div.answer:after, div.single_item:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

/* Blog Posts */
#list .blog_post_item .details { width: 470px; }

#list .blog_post_item .details h3, #list .blog_post_item .details h3 a { margin-bottom: 0; font-weight: bold; }

#list .blog_post_item .details .summary { margin-bottom: 10px; }

#list .blog_post_item .details ul.action_list { margin-top: 5px; }

#list .blog_post_item .details ul.action_list li span.tags { display: block; }

#blog_meta h4 { margin-bottom: 0; }

#blog_meta h4:first-child { margin-bottom: 1em; }

/* Ratings */
#list div.rate { position: relative; float: right; margin-top: 14px; }

/* Comments */
#list div#comments { clear: both; }

#list div#comments:before { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

/* Status */
#list .status_results .list_item { clear: both; }

#filter_options .selected { font-size: 1.2em; font-weight: bold; }

div.rate { padding: 2px; width: 125px; text-align: right; }

div.rate:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

div.rate { zoom: 1; }

div.rate ul { float: right; position: relative; margin: 0; width: 75px; height: 15px; background: url(/images/rate_dim.png) 0 0 repeat-x; list-style: none; }

div.rate ul li { float: left; width: 15px; height: 15px; text-indent: 9999px; overflow: hidden; }

div.rate ul li a { position: absolute; top: 0; left: 0; height: 15px; text-indent: 9999px; overflow: hidden; }

div.rate ul li a:hover, div.rate ul:hover li a.selected:hover, div.rate ul.rate_hover li a.selected:hover, div.rate ul.rate_hover_my_rating li a.selected:hover { background: url(/images/rate.png) 0 0 repeat-x; }

div.rate ul li a.selected { background: url(/images/rate_rated.png) 0 0 repeat-x; }

div.rate ul li.rated { background: url(/images/rate_rated.png) 0 0 repeat-x; }

div.rate ul.my_rating li a:hover, div.rate ul.my_rating li a.selected { background: url(/images/rate.png) 0 0 repeat-x; }

div.rate ul:hover li a.selected, div.rate ul.rate_hover li a.selected, div.rate ul.rate_hover_my_rating li a.selected { background: none; }

div.rate ul li.rated { margin: 0; }

div.rate ul li.rating1 a { width: 15px; z-index: 15; }

div.rate ul li.rating2 a { width: 30px; z-index: 14; }

div.rate ul li.rating3 a { width: 45px; z-index: 13; }

div.rate ul li.rating4 a { width: 60px; z-index: 12; }

div.rate ul li.rating5 a { width: 75px; z-index: 11; }

div.rate p.rating_total { clear: both; margin-right: 1px; padding-top: 2px; font-size: 1em; text-align: right; }

/* Search does need to be last. It overwrites a lot of other settings for uniformity of results */
div#search_results { /*margin-left: 240px;*/ float: right; width: 720px; }

div#search_results .result:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

div#search_results div.result_container { clear: both; }

div#search_results .icon_wrapper { float: right; margin-top: 20px; width: 50px; }

div#search_results .icon_wrapper img { height: 30px; padding: 2px; }

/* Normalize Search Results */
div#search_results .result .photo_wrapper { margin-bottom: 0; }

div#search_results .result .photo_wrapper img.photo { height: 50px; width: 50px; }

div#search_results .result .group_item { clear: none; }

div#search_results .result #list { border-top: 0; padding: 0; position: static; }

div#search_results .result .action_list, div#search_results .result .action_buttons, div#search_results .result .rate, div#search_results .result .referred { display: none; }

div#search_filter { /*float: left;*/ width: 239px; }

div#search_filter .accordionButton { background: #C4D7DC; border-bottom: 1px solid #fff; padding: 10px; }

div#search_filter .accordionButton.active { background: #4a6970; }

div#search_filter .accordionButton a { color: white; display: block; font-size: 16px; font-weight: normal; text-transform: lowercase; }
