<div id="questions">
    <%if referred_questions.size > 0%>
        <h5>Questions Referred To This Group</h5>
            <%= render_booth_referred_questions_for @group, referred_questions, @group.editable_by?(current_profile) %>
		<div id="paging">
        	<%= will_paginate referred_questions %>
        </div>
	<%else%>
      <div align="center">
		<%="No Matched Questions"%>
      </div>
	<%end%>
</div>
