<table id="booth_links">
	<tbody>
		<tr>
			<th>URL</th>
			<th>Text</th>
	       </tr>
		<% @useful_links.each do |booth_link| -%>
		<tr id="booth_link_<%= booth_link.id %>">
			<td><%= booth_link.url %></td>
			<td><%= booth_link.text %></td>
			
                        <td><%= link_to("remove link", group_group_link_path(booth_link.group,booth_link), :class => "modal delete") -%></td>
			
		</tr>
		<% end -%>
	</tbody>
</table>
