<style>
	#footer { padding: 10px 10px 30px 10px;}
	#footer .footer-left { float: left;}
	#footer .footer-right { float: right; text-align:right;}
	#footer .footer-other { clear:both; padding: 20px 10px; text-align:center;}
	#footer a { color:#4a6970; text-decoration: none;}
	#footer a:hover { text-decoration: underline;}
</style>

<div id="footer">
	<div class="footer-left">
		<span><a href="/our_story">About Us</a> &nbsp; | &nbsp; <a href="/terms_and_conditions">Terms and Conditions</a> &nbsp; | &nbsp; <a href="/feedback">Feedback</a></span>
	</div>
	<div class="footer-right">
		<span><a href="http://www.sabretravelnetwork.com"><img src="/images/sabre_tn_logo.png"></a></span>
	</div>
	<div class="footer-other">
		<p><%= Config[:disclaimer] -%></p>
	</div>
</div>