<div class="share_buttons" >
  <span class='st_twitter' st_url='<%= link.html_safe %>' 
    st_via="agentstream" st_title='<%= tweet_text %>'></span>
  <span class='st_facebook'  st_url='<%= link.html_safe %>'></span>
</div>