<div class="share-links">
  <span class='st_fbrec_hcount' displayText='Facebook Recommend' st_url='<%= link.html_safe %>'></span>
  <span class='st_twitter_hcount' displayText='Tweet' st_url='<%= link.html_safe %>' st_via="agentstream" st_title='<%= tweet_text %>'></span>
</div>