textarea {
	font: inherit ! important;
	padding: 3px 5px;
}

textarea.fckeditor {
  height: 300px;
}

/* registration form Error formatting */
form#registration_form  div#errors li{
	color: #990000;
}
  form#registration_form .fieldWithErrors { 
  	border: 1px dashed #990000; 
  }
  form#registration_form div#errors { 
  	display: none; 
  }
    form#registration_form div.error h2{
    	color: #990000;
    }

/* LANDING PAGE */
#main .primary .content .intro-text { 
  /* SSJ: 3/11/11 Push all this off the page, txt is now on image, but keep for crawlers etc. */
	text-indent: -5000px;

	clear: both; 
	float:left; 
	width: 350px; 
	margin:30px 20px 20px 30px; 
	background: transparent;


	h5 {
	  font-size: 32px; 
	  line-height: 32px; 
	  margin:0; font-weight:normal; 
	  color: #6f563b;
	}
  h1 {
    font-size: 48px; 
    line-height: 40px; 
    margin:0; 
    color:#4a6970;
  }
  p {
    font-size: 12px; 
    line-height: 14pt; 
    margin: 12px 0;
  }
  li {
    color:#4a6970;
    font-weight: bold;
  }
}