/* ------------- /app/stylesheets/themes/agentstream/icons.scss ---------------- */

img.icon { }

div.news_item div.details div.icon {
  float: right;
  text-align: center;
  width: 22px;
}
div.news_item div.details div.icon img.icon {
  height: 22px;
  /*opacity: 0.7;*/
}
.booth_activity_details img{
  width: 18px;
  height: 20px;
  display: block;
  float: left;
  margin: 0 15px 0 0;
}
