@import "960/grid";
@import "compass/utilities/general/clearfix";
$ninesixty-columns: 16;
$ninesixty-gutter-width: 0;
$ninesixty-grid-width: 960px;

#page {
  @include grid-container;
	
}

	#header, #main, .alert, #footer, .primary, .aside, #logo, .global_nav, .utility  { @include grid-unit-base;}
	
	#header, #main, .alert, #footer { @include grid-width(16); }
	
		#logo { @include grid-width(4); @include alpha;}
		.global_nav { @include grid-width(7);}
		.utility { @include grid-width(5); @include omega;}
	
	#body {
	}
	
	.primary { width: 560px; @include alpha; }
	.aside { width: 400px; @include omega; }
		.aside .module { margin: 0 10px 0; }
