div#search_results {
  /*margin-left: 240px;*/
  float: right;
  width: 720px;
  div.list_item.chat_item {
    clear: none;
  }
}
div#search_results .result:after{ content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

div#search_results div.result_container {
	clear: both;
}
div#search_results .icon_wrapper {
  float: right;
  margin-top: 20px;
  width: 50px;
}
div#search_results .icon_wrapper img {
  height: 30px;
  padding: 2px;
}

/* Normalize Search Results */
div#search_results .result .photo_wrapper {
  margin-bottom: 0;
}

div#search_results .result .photo_wrapper img.photo {
  height: 50px;
  width: 50px;
}

div#search_results .result .group_item {
  clear: none;
}

div#search_results .result #list {
  border-top: 0;
  padding: 0;
  position: static;
}

div#search_results .result .action_list, div#search_results .result .action_buttons, div#search_results .result .rate, div#search_results .result .referred {
  display: none;
}


div#search_filter {
  /*float: left;*/
  width: 239px;

}
div#search_filter .accordionButton {
  background: #C4D7DC;
  border-bottom: 1px solid #fff;
  padding: 10px;
}

div#search_filter .accordionButton.active {
  background: #4a6970;
}

div#search_filter .accordionButton a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}