#list .categories {
  clear:both;
}

#list #list_text{ 
float: left;
margin:20px 40px 20px 10px;
width: 480px;
font: 1.2em black;
font-family: 'Arial';
text-align: justify;
}

#list .categories #expo_categories{
list-style-type:none;
}

#list .categories #expo_categories .travelexpo_category {
display:inline-block;
overflow:hidden;
position:relative;
}

#list .categories #expo_categories .travelexpo_category li {
float:left;
margin: 30px 2px 15px 2px;
}

#list .categories #expo_categories .travelexpo_category h3{
position:absolute;
font-size: 15px;
color: white;
width: 100%;
left: 30px;
top: 30px;
}

#list{
overflow:hidden;
background-color:#fff;
}

#list .group_results #controls dt{
display:inline;
}

#list .group_results #controls dd{
display:inline;
padding: 0 10px;
border-right: 1px solid #676767;
}


#list #travelexpo_marketing_message {
float: right;
margin-top:25px;
height:150px;
margin-bottom: 5px;
width: 395px;
margin-right: 8px;
}

#list #news_feed{
float:left;
width: 510px;
border: 1px solid #c4d7dc;
background-color: #EFF8FA;
}

#groups {
  background-color: #fff;
}

#list .details {
  width: auto;
}

#news_feed .news_item { 
position: relative;
height: 80px;
margin: 5px 0 0;
color: #4a6970;
padding: 10 0 0 20px; }

.news_item .details{
display: inline;
position: inherit;
}

.news_item .details .category_activity_who{
font-size: 1.3em;
font-weight:bold;
}

#news_feed .news_item .details p.what span {
font-size: 10px;
}

#list .group_results{
float: right;
left: 520px;
width: 400px;
padding: 0 0 0 10px;
}

table #admin_marketing{
width:90%;
}

#admin_marketing th{
height: 50px;
width: 100px;
text-align:center;
padding-left:10px;
padding-right:50px;
}

#admin_marketing td{
height: 50px;
width: 110px;
align:center;
padding-left:30px;
}

#booth_members_images table {
  margin-bottom: 0;
}
#news_feed h3 {
  padding-left: 0 10px;
}
#booth_info {
  border: none;
  min-height: inherit;
}
.sponsored_news_events {
  border: none;
}
