.tabs { position: relative; margin: 0 10px; padding: 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.tabs .tabs-nav { margin: 0; padding: 0; }
.tabs .tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 10px 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.tabs .tabs-nav li a, .tabs .tabs-nav li span { float: left; padding: .5em 1em; text-decoration: none; }
.tabs .tabs-nav li.tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.tabs .tabs-nav li.tabs-selected a, .tabs .tabs-nav li.state-disabled a, .tabs .tabs-nav li.state-processing a { cursor: text; }
.tabs .tabs-nav li a, .tabs.tabs-collapsible .tabs-nav li.tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.tabs .tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
.tabs .tabs-hide { display: none !important; }

.tabs .tabs-nav { background: #fff }
/* required comment for clearfix to work in Opera \*/
* html .tabs .tabs-nav { height:1%; }
.tabs .tabs-nav { margin: 0; display:block; }
	.tabs .tabs-nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.tabs .tabs-nav li { white-space: nowrap; background: #e6edea;  color: #92b5bd; text-shadow: #fff 0 1px 0; }
		.tabs .tabs-nav li.active, .tabs .tabs-nav li.selected { margin: 0 10px 1px 0; background: #d8e9e6; color: #4a6970; }
			.tabs .st-tabs-nav li.active a:hover, .tabs .st-tabs-nav li.selected a:hover { color: #333; }
		.tabs .tabs-nav li.disabled a { color: #b4b4b4; background-image: none; cursor: default !important;}
		.tabs .tabs-nav li.disabled a:hover { color: #b4b4b4;}
			.tabs .tabs-nav li a:hover { color: #888; text-decoration: none; }
		.tabs .tabs-nav li.active a, .tabs .tabs-nav li.selected a, .tabs .tabs-nav li.disabled a { cursor: text; }
		.tabs .tabs-nav li a, .tabs.ui-tabs-collapsible .tabs-nav li.ui-tabs-selected a { cursor: pointer; color: #92b5bd; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
	.tabs .tabs-panel { display: block; border-width: 0; background: #d8e9e6; border: 1px solid #d8e9e6; }
	.tabs .hide { display: none !important; }