<!doctype html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/css/screen.css">
 <style type="text/css">
		body { background: inherit; }
 </style>
</head>
<body>
	<%= @widget %>
</body>
</html>