<style>
	/* Hide the new group link in the filter section*/
  div#groups a.create_group { display: none; }
</style>
<div class="list_action_button" ><%= link_to "Create a Group", new_group_path, :class => 'modal create_group' %></div>
<h2 class="page_title">Groups</h2>

<div class="group_results">
	<div id="list">
	  <div class="listform">
  	  <%= filter_sort_controls('Group') %>
  	</div>
	  
	  <%= render :partial => 'groups/groups' %>
	</div>

	<%= render_pagination @groups %>
</div>
