<style type="text/css">
#wrap #header .row.fixed .col-700.dropdown-container.fixed #dropdown-menu {
	text-align: right;
}
#wrap #header .row.fixed .col-700.dropdown-container.fixed #dropdown-menu {
	text-align: right;
}
#wrap #content .row.fixed .col-220 li {
	font-size: 18px;
}
#wrap #content .row.fixed .col-220 li {
	font-size: 16px;
}
.privacy {
  font-size: 0.8em;
  margin-top: 10px;
}
</style>

	<noscript>
		<link href="/homepage_2/_layout/style-nojs.css" rel="stylesheet" type="text/css" /> 
		<div class="nojs-warning"><strong>JavaScript seems to be Disabled!</strong> Some of the website features are unavailable unless JavaScript is enabled.</div>
	</noscript>
	
	<div id="wrap">
	
		<div id="header">
		<!-- ///   HEADER   /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
		  <div class="row fixed">
			
				<div class="col-700 dropdown-container fixed">
				
					<a href="/" title="AgentStream" id="logo"><img src="/homepage_2/_layout/images/logo.png" width="150" height="77" alt="AgentStream Logo"/></a>

				  <ul class="fixed" id="dropdown-menu">
					  <li><a href="/account/login">LOGIN</a></li>
            <li><a href="/account/signup">SIGN UP</a></li>
            <li><a href="/deals_and_extras">DEALS + EXTRAS</a></li>
				  </ul><!-- end #dropdown-menu -->
				
			  </div><!-- end .col-900 --><!-- end .col-220 -->
				
		  </div><!-- end .row -->
			
			<div class="hr-alt"></div>
			<div class="row slideshow-container fixed">
			
				<div id="slideshow">
				
					<ul>
					
						<li><img src="/homepage_2/_content/index/slider/7.jpg" width="940" height="350" alt="" />
						  <div class="slidetext">
						    <h2><a href="#">welcome all travel agent professionals</a>...</h2>
								<p>Join the world's largest travel agent community with over 7,000 active members from 122 countries.</p>
						  </div>
					  </li><!-- end slide 1 -->
						<li>
							<img src="/homepage_2/_content/index/slider/2b.jpg" width="940" height="350" alt="" />
						  <div class="slidetext">
								<h2><a href="#">search & share thousands of deals & extras</a></h2>
								<p>Rate & review thousands of agent-exclusive deals and hard-to-find travel activities and tours.</p>
						  </div>
						</li><!-- end slide 2 -->
						<li>
							 <img src="/homepage_2/_content/index/slider/8.jpg" width="940" height="350" alt="" />
						  <div class="slidetext">
								<h2><a href="#">collaborate <br />& save time. </a></h2>
								<p>Share knowledge and save valuable time researching & troubleshooting each day. Over 4,000 questions & answers posted to-date.</p>
						  </div>
						</li><!-- end slide 3 -->
						
					</ul>
					
					<div id="slideshow-nav">
						<a class="prev" href=""></a>
						<a class="next" href=""></a>
					</div><!-- end #slideshow-nav -->
					
			  </div><!-- end #slideshow -->	
			
			</div><!-- end .row -->
			
		  <div class="hr"></div>	

		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
		</div><!-- end #header -->
		<div id="content">
		
	

			<div class="row fixed">
			
			  <div class="col-220">
				
					<h3><font color="#252525">Community Features</font></h3>
          <ul>
				    <li>Q&A</li>
            <li>Groups</li>
	          <li>Blogs</li>
	          <li>Live Chat Events</li>
	          <li>Agency Channels</li>
	          <li>Deals & Extras</li>
	          <li>Supplier Reviews</li>
          </ul>
			  </div><!-- end .col-220 -->
			  <div class="col-220">	<h3>Exclusively for Travel Pros</h3>
					
					<p>AgentStream is a community built exclusively for travel agent professionals, giving them the right to choose who they interact with in a business-centric network and utilize it in the most efficient way to meet their needs. We take pride in being picky with who we grant access into AgentStream because it truly is YOUR community. 
</div><!-- end .col-220 -->
			  <div class="col-220">

					<h3>Agents from Every GDS</h3>
					
					<p>AgentStream is proudly powered by Sabre Travel Network, the world's leading global distribution system, and it is freely available to agents associated with any GDS or no GDS at all. Sabre is proud to offer industry-leading distribution and technology solutions including cutting edge social applications to support your business.</p>
				
			  </div><!-- end .col-220 -->
			  <div class="col-220 last">

					<h3>Global Reach</h3>

					<p>AgentStream currently boasts members from more than 122 countries with translation in 7 languages. Now you can connect with agents from other regions with primary dialects distinctly different from yours but the common bond of your travel business. The only language that matters here is the universal love of travel.</p>
				
			  </div><!-- end .col-220 -->
			
			</div><!-- end .row -->
			
		  <div class="hr"></div>
			
		  <div class="row fixed"><!-- end .col-220 -->
			<div class="col-460">

			  <p>
					<strong>Take a look at what other active travel agent members had to say about AgentStream:</strong>
				</p><br />
					 
					<blockquote>
					  <p>AgentStream is a great place to develop & improve our skills and gain knowledge to achieve our goal as travel agents to ensure clients have an enjoyable journey.&quot;						 </p>
						<p><strong>Frank Doughtery</strong>, AgentStream Member since 2009</p>
			  </blockquote >
					
                     			
		    </div><!-- end .col-460 -->
		    <div class="col-220 last">
				
				  <ul id="news-box">
					
				    <li class="first fixed"></li>                     
						
		    </ul><!-- end #news-box -->
					
		  </div><!-- end .col-220 -->
				
	  </div><!-- end .row -->
							
		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
</div><!-- end #content -->
		<div id="footer">
		
		<!-- ///   FOOTER   //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="hr"></div>	
			
			<div class="row fixed">
				
				<div class="col-220">
				
					<p><strong>&copy; 2011 AgentStream / Sabre Travel Network</strong></p>
					
					<p class="last">All right Reserved. 
					<br /><a href="/terms_and_conditions">Terms of Service</a> <!-- / <a href="#">Privacy Policy</a> -->
					<br />
					<br />
				  <br /><a href="#" class="back-top">&#710; Back to top</a>
				  </p>
					
				</div><!-- end .col-220 -->
				<div class="col-220">
				
					<p><strong>Quick Navigation</strong></p>
					<ul id="footer-nav">
						<li><a href="/account/login">Member Login</a></li>
						<li><a href="/account/signup">New Member Sign Up</a></li>
						
					</ul><!-- end #footer-nav -->
				
				</div><!-- end .col-220 -->
				<div class="col-220">
				
					<p><strong>Contact Us</strong></p>
					
					<ul id="contact-info">
					
					  <li class="email"><a href="mailto:admin@agentstream.com">admin@agentstream.com</a></li>
					  <li class="adress">3150 Sabre Drive<br/>Southlake, TX<br /> 76092, USA </li>
						
					</ul><!-- end #contact-info --> 
				
				</div><!-- end .col-220 -->
			  <div class="col-220 last">
				
					<p><strong>Twitter &amp; Facebook</strong></p> 

				  <ul id="social-media" class="fixed">
					
					  <li><img src="/homepage_2/_layout/images/social-icons/facebook.png" width="16" height="16" alt="facebook" /><a href="http://www.facebook.com/agentstream">Facebook</a></li>
						<li><img src="/homepage_2/_layout/images/social-icons/twitter.png"  width="16" height="16" alt="twitter" /><a href="http://www.twitter.com/agentstream">Twitter</a></li>
						
				</ul><!-- end #social-media -->
				
			  </div><!-- end .col-220 -->
			
			</div><!-- end .row -->
			
		<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
		  <div class="privacy">
		    *Unauthorized use by anyone other than a valid travel agent or approved supplier sponsor, including copying or printing of pictures, personal member information, as well as public sharing or distribution of those materials, is explicitly prohibited.
		  </div>
		
		</div><!-- end #footer -->

	</div><!-- end #wrap -->

	<script type="text/javascript"> Cufon.now(); </script> 
	
	<!-- analytics code here -->