<% content_for :content do -%>
	<style>
	  div#public-main form input {
	    width: inherit;
	    font-size: inherit;
	    margin: 0;
	  }
	  div#public-main form select {
	    width: inherit;
	    font-size: inherit;
	    margin: 0;
	  }
		div#channel-description{
			margin: 20px;
			font-size: 1.2em;
		}
	</style>
	<div id="channel-description">
		<p>An agency channel is our new way for your agency to connect and collaborate with each other, privately.  Your agents will have the ability to ask and answer questions that are only available for your agency to see, as well as manage an agency blog, and keep your agents up to date with what is going on in your agency in general.  If your agency is looking for a way for your agents to connect across multiple locations, an agency channel might be the right solution for you.  Typically, an agency channel works best if you have at least five agents that will be participating.</p>
		<p>If you are interested in creating an agency channel, we’ll need some information from you.  If you can complete the following form, a Community Manager will be in touch with you to complete the agency channel creation process.</p>
	</div>	
	<script type="text/javascript" src="http://www.formstack.com/forms/js.php?1087790-xKFZ8XQySG-v2"></script>
<noscript><a href="http://www.formstack.com/forms/?1087790-xKFZ8XQySG" title="Online Form">Online Form - AgentStream Channels Request Form</a></noscript>
<% end -%>

<%= render :file => 'layouts/_application' -%>