<% content_for(:page_title, "Create a New Booth Video") -%>
<% form_for(:booth_video,:url => {:action => "create"}, :html => {:id => "new_booth_video", :multipart => true, :method => "post"}) do |f| %>
<h5>New Booth Video</h5>
<fieldset>
	<label for="title">Title</label><br />
        <%= f.text_field :title, :size => 32, :placeholder => "Title for the new booth video" %><br /><br />
        <%= file_field_tag :marketing_video_file %><br /> <br/>
        <%#=f.file_field :uploaded_data %><br /> <br/>
        <%=f.submit "Upload video" %>
<% end %>




