<h1>Thank you for registering!</h1>

<p><strong><span class="caps">PLEASE</span> <span class="caps">ALLOW</span> 2-3 <span class="caps">BUSINESS</span> <span class="caps">DAYS</span> <span class="caps">FOR</span> <span class="caps">PROCESSING</span></strong> as we manually verify your registration. Your patience with our detailed review process is certainly appreciated as member privacy and security continues to be our top priority.</p>

<h2>Frequently Asked Questions</h2>

<p><strong>Why isn’t registration automatic?</strong><br/>
Member privacy and security is our top priority. That’s why we go the extra mile to manually verify that each new member is a valid travel agent or approved sponsor member.</p>

<p><strong>How long does it take to complete?</strong><br/>
Please allow 2-3 business days for the AgentStream team to complete its registration verification process. Once validated, you will receive a “Welcome to AgentStream” email with instructions for accessing your new account. We promise it’s worth the wait!</p>

<p><strong>Why do you have to be a travel agent to register?</strong><br/>
We want to ensure AgentStream is a secure environment where travel agents can freely share information and collaborate with one another 24/7 without any privacy concerns. A strict registration process is one of the best ways to maintain that membership standard.</p>

<p><strong>What if I want to share information with more than just travel agents?</strong><br/>
Certainly travel suppliers and other industry professionals are an extremely valuable part of the travel ecosystem. With that in mind, we have created a “sponsor account” subscription opportunity for these suppliers offering limited areas of access. However, sponsors are only able to communicate with agent members if those agents <span class="caps">OPT</span>-IN in a sponsor group. Even when agent members opt-in, the sponsors are not able to see any agent member’s full name or profile information.</p>

<p><strong>Has an error ever occurred in AgentStream’s verification process?</strong><br/>
We take pride in the fact that every effort is put forth to ensure your future 3,700+ member peers are truly travel agents. However, sometimes a bad apple may slip through the cracks, yet you can rest assured that we closely monitor any suspicious activity or high-risk members and, if needed, will  deactivate any account in violation of our member policy or terms &amp; conditions.</p>

<p>Please don’t hesitate to send us any questions or comments you might have while you await verification at <%= mail_to "feedback@agentstream.com" %>.</p>

<p>Look forward to connecting with you in AgentStream very soon!<br/>
~Your AgentStream Community Manager</p>
