<% content_for :admin_tabs_submenu do %>
	<div id="admin_header">
		<div id="title"><h2>New Company Channel</h2></div>
		<div id="action_buttons"><%= link_to("All", companies_admin_path, {:class => "button" }) %></div>
	</div>	
<% end %>

<%= render :partial => "/companies/as_admin/company_form", 
					 :locals => {:company => Company.new, :button => "Create", :url => create_company_admin_path } %>